.vertical.article {
    padding-left: 0;
    padding-right: 0;
    display: flex;

    .articleid {
        margin-top: 0px;
        color: #626262;
    }
    .mat-card-content {
        padding: 0 20px;
        margin-bottom: 0px;
    }
    .order-number {
        line-height: 60px;
        text-align: center;
    }
    .order-container {
        position: relative;
        .order-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.article {
    border: 1px solid #E0E0E0;

    .add-box-container {
        position: relative;
        .add-box {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    .articleid {
        margin-bottom: -4px;
        margin-top: 10px;
    }

    .mat-card-actions {
        margin-bottom: -20px;
    }

    .mat-card-title {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .mat-card-subtitle {
        color: #626262;
    }

    .mat-card-image {
        height:60px;
        width: 120px;
        margin:0;
        border: 2px solid #999C9B;
        object-fit: fill;
    }

    .order-icon {
        float: right;
        cursor: pointer;
    }

    .mat-card-actions {
        a, button {
            font-weight: bold;
        }
    }

    .order-container {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .order-number {
        font-weight: bold;
        font-size: 1rem;
    }
}

.no-data-cnt {
    text-align: center;
    padding: 25px;
    font-weight: bold;
}

.loader {
    position: relative;
}

.default-height {
    height:510px
}