<h1 mat-dialog-title>Add article to newsfeed</h1>
<div mat-dialog-content>
  <card-search
    #cardSearch
    [(results)]="content"
    [filterBy]="filter"
    [hideContentField]="true"
    [hideTagsField]="true"
    [hideCreatedByField]="true"
    [hideServiceAreaField]="true"
    [showSearchButton]="true"
    [(loading)]="loading"
  ></card-search>

  <div class="default-height">
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loading" class="default-height">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="content != null && content.length == 0 && !loading" class="no-data-cnt">
      No Data Found!
    </div>
    <div *ngIf="!loading">
      <mat-card class="article vertical" *ngFor="let item of content" fxLayout="row" >
        <div class="order-number" fxFlex="30px">{{item.order}}</div>
        <img mat-card-image fxFlex="120px" src="{{getImageOrDefault(item.imageUrl)}}">
        <mat-card-content fxFlex="calc(100% - 520px)">
            <div class="articleid mat-card-subtitle">#{{item.id}}</div>
            <mat-card-title>{{ item.title | truncate: 70 }}</mat-card-title>
            <mat-card-subtitle>
              <span class="heading">Publish Date:</span>
              <span>{{ item.publishDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
            </mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions fxFlex="230px">
              <a
                mat-button
                color="accent"
                target="_blank"
                href="/#/content/create?contentCode={{ item.code }}"
                >View</a>
                
              <button
                mat-button
                color="warn"
                (click)="addToTop10(item.id)">
                Add to top 10
              </button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>