<div *ngIf="content">
  <navigation [links]="links" [(activeLink)]="activeLink"></navigation>
  <notices [content]="content"></notices>
  <mat-card>
    <mat-card-title *ngIf="content.id">{{ content.title }}</mat-card-title>
    <mat-card-content>
      <mat-list
        *ngIf="content.id"
        class="content-info-list"
        style="margin-bottom: 15px;"
      >
        <mat-list-item>
          <span class="heading">{{ content.status }}</span>
          <span>{{ content.createDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
        </mat-list-item>
        <mat-list-item>
          <span class="heading">Created By:</span>
          <span>{{ content.createdBy }}</span>
        </mat-list-item>
        <mat-list-item *ngIf="content.tags.length > 0">
          <span class="heading">Tags:</span>
          <span style="margin-right: 5px;" *ngFor="let tag of content.tags">{{
            tag
          }}</span>
        </mat-list-item>
      </mat-list>
      <div>
        <actions
          [content]="content"
          [carousel]="carousel"
          [abList]="abList"
          [event]="event"
          [nearMe]="nearMe"
          (refresh)="refreshContent($event)"
          (update)="update()"
        ></actions>
      </div>
    </mat-card-content>
  </mat-card>

  <general-tab
    *ngIf="activeLink === 'General'"
    [(content)]="content"
  ></general-tab>
  <content-tab
    *ngIf="
      activeLink === 'Content' &&
      (content.type === 'Event' ||
        content.type === 'Article' ||
        content.type === 'BaselinePage')
    "
    [(content)]="content"
  ></content-tab>
  <ab-list-tab
    *ngIf="activeLink === 'Content' && content.type === 'AB List'"
    [(abList)]="abList"
    (update)="update()"
    [canEdit]="content.canEdit"
  ></ab-list-tab>
  <near-me-tab
    *ngIf="activeLink === 'Content' && content.type === 'Near Me'"
    [(content)]="content"
    [(nearMe)]="nearMe"
  ></near-me-tab>
  <event-tab
    *ngIf="activeLink === 'Event'"
    [(content)]="content"
    [(event)]="event"
    (update)="update()"
  ></event-tab>
  <media-tab
    *ngIf="activeLink === 'Media'"
    [(content)]="content"
    [(carousel)]="carousel"
    (updateContent)="update()"
  ></media-tab>
  <tags-tab
    *ngIf="activeLink === 'Tags'"
    [(content)]="content"
    (updateContent)="update()"
  ></tags-tab>
  <meta-tab *ngIf="activeLink === 'Meta'" [(content)]="content"></meta-tab>
  <activity-tab
    *ngIf="activeLink === 'Activity'"
    [id]="content.id"
  ></activity-tab>
</div>
