﻿<navigation [links]="links" [(activeLink)]="activeLink"></navigation>
<bbb-picker
  [title]="heading"
  placeholder="Select a BBB to configure"
  [selectedBbbName]="bbb.name"
  (onAdded)="setCurrentBbb($event)"
  [enabled]="true"
></bbb-picker>
<mat-card>
  <mat-card-content>
    <button
      mat-raised-button
      color="accent"
      aria-label="save"
      (click)="update()"
    >
      Save
    </button>
  </mat-card-content>
</mat-card>
<bbb-general-tab
  *ngIf="activeLink === 'General'"
  [(bbb)]="bbb"
  [canEdit]="canEdit"
></bbb-general-tab>
<bbb-urls-tab
  *ngIf="activeLink === 'Urls'"
  [(bbb)]="bbb"
  [canEdit]="canEdit"
></bbb-urls-tab>
<bbb-entities-tab
  *ngIf="activeLink === 'Entities'"
  [(bbb)]="bbb"
  (update)="update()"
></bbb-entities-tab>
<bbb-media-tab
  *ngIf="activeLink === 'Media'"
  [(bbb)]="bbb"
  [canEdit]="canEdit"
  (update)="update()"
></bbb-media-tab>
<bbb-lists-tab
  *ngIf="activeLink === 'Lists'"
  [(bbb)]="bbb"
  [canEdit]="canEdit"
></bbb-lists-tab>
<bbb-header-footer-tab
  *ngIf="activeLink === 'Header/Footer'"
  [(bbb)]="bbb"
  (update)="update()"
></bbb-header-footer-tab>
<bbb-persons-tab
  *ngIf="activeLink === 'Persons'"
  [(bbb)]="bbb"
  (update)="update()"
></bbb-persons-tab>
<bbb-file-a-complaint-tab
  *ngIf="activeLink === 'File a Complaint'"
  [(bbb)]="bbb"
  (update)="update()"
  [id]="bbb.id"
></bbb-file-a-complaint-tab>
<bbb-apply-for-accreditation-tab
  *ngIf="activeLink === 'Apply for Accreditation'"
  [(bbb)]="bbb"
  (update)="update()"
  [id]="bbb.id"
></bbb-apply-for-accreditation-tab>
<bbb-activity-tab
  *ngIf="activeLink === 'Activity'"
  [id]="bbb.id"
></bbb-activity-tab>
<bbb-leads-reports-tab
  *ngIf="activeLink === 'Leads reports'"
  [id]="bbb.id"
></bbb-leads-reports-tab>
