<div>
  <input type="file" ng2FileSelect [uploader]="uploader" multiple />
  <br />
</div>
<div style="margin-bottom: 40px" [hidden]="uploader.queue.length === 0">
  <h3>Number of images: {{ uploader.queue.length }}</h3>
  <table class="mat-table" style="border-collapse: collapse; width: 100%;">
    <tr class="mat-header-row" style="height: 56px;">
      <th class="mat-header-cell">&nbsp;</th>
      <th class="mat-header-cell" [hidden]="!uploader.options.isHTML5">
        Progress
      </th>
      <th class="mat-header-cell">Name</th>
      <!-- <th class="mat-header-cell">Description*</th> -->
      <th class="mat-header-cell">Title*</th>
      <th class="mat-header-cell">Tags</th>
      <th class="mat-header-cell">Caption</th>
      <th class="mat-header-cell">Credit*</th>
      <th class="mat-header-cell" [hidden]="!uploader.options.isHTML5">Size</th>
      <th class="mat-header-cell">Actions</th>
    </tr>
    <tr
      *ngFor="let item of uploader.queue"
      class="mat-row"
      style="height: 140px"
    >
      <td class="mat-cell text-center">
        <mat-icon
          *ngIf="item.isSuccess"
          aria-hidden="false"
          aria-label="Success icon"
          class="success-icon"
          >check_circle</mat-icon
        >
        <mat-icon
          *ngIf="item.isError"
          aria-hidden="false"
          aria-label="Error icon"
          class="error-icon"
          >highlight_off</mat-icon
        >
      </td>
      <td class="mat-cell" [hidden]="!uploader.options.isHTML5">
        <div class="progress" style="margin-bottom: 0; margin-right: 5px;">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: item.progress + '%' }"
          ></div>
        </div>
      </td>
      <td class="mat-cell">
        <strong>{{ item.file.name }}</strong>
      </td>
      <!-- <td class="mat-cell" [hidden]="!uploader.options.isHTML5" nowrap>
        <mat-form-field class="collapsible-form-field">
          <input type="text" matInput [(ngModel)]="item.imageDescription" placeholder="Description" required/>
        </mat-form-field>
      </td> -->
      <td class="mat-cell" [hidden]="!uploader.options.isHTML5" nowrap>
        <mat-form-field class="collapsible-form-field">
          <input type="text" matInput [(ngModel)]="item.imageTitle" placeholder="Title" required/>
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <div style="margin-top: 10px;">
          <form [formGroup]="tagsForm">
            <div>
              <mat-form-field>
                <mat-label>
                  Select tag type
                </mat-label>
                <mat-select formControlName="filterCtrl">
                  <mat-option value="*">All</mat-option>
                  <mat-option value="generic">Generic</mat-option>
                  <mat-option value="city">City</mat-option>
                  <mat-option value="state">State</mat-option>
                  <mat-option value="country">Country</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-chip-list #chipList aria-label="Tag selection">
                  <mat-chip
                    *ngFor="let tag of item.tags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeTag(tag, item.tags)"
                  >
                    <span>
                      <strong>{{ tag.name }}</strong>
                      <em>({{ tag.type }})</em>
                    </span>
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Search for a tag..."
                    #tagInput
                    formControlName="tagsCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addTag($event, item.tags)"
                  />
                </mat-chip-list>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectTag($event.option.value, item.tags)"
                >
                  <mat-option
                    *ngFor="let tag of filtered | async"
                    [value]="tag"
                    [hidden]="isNotFound"
                  >
                    <span
                      [innerHTML]="tag.label | highlight: highlightedInputValue"
                    ></span>
                  </mat-option>
                  <mat-option
                    *ngIf="isNotFound && inputValue.length > 0"
                    class="no-data"
                  >
                    {{ notFoundMessage }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </form>
        </div>
      </td>
      <td class="mat-cell" [hidden]="!uploader.options.isHTML5" nowrap>
        <mat-form-field class="collapsible-form-field">
          <input
            type="text"
            matInput
            [(ngModel)]="item.imageCaption"
            placeholder="Caption"
          />
        </mat-form-field>
      </td>
      <td class="mat-cell" [hidden]="!uploader.options.isHTML5" nowrap>
        <mat-form-field class="collapsible-form-field">
          <input
            type="text"
            matInput
            [(ngModel)]="item.imageCredit"
            placeholder="Photo Credit"
            required
          />
        </mat-form-field>
      </td>
      <td class="mat-cell" [hidden]="!uploader.options.isHTML5" nowrap>
        {{ item.file.size / 1024 | number: "1.0-0" }} KB
      </td>
      <td class="mat-cell" nowrap>
        <button
          mat-raised-button
          color="accent"
          (click)="item.upload()"
          [disabled]="item.isReady || item.isUploading || item.isSuccess"
        >
          Upload
        </button>
        <br />
        <button mat-button color="warn" (click)="item.remove()">Remove</button>
      </td>
    </tr>
  </table>

  <div>
    <div>
      <h4>Queue progress</h4>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [ngStyle]="{ width: uploader.progress + '%' }"
        ></div>
      </div>
    </div>
    <button
      mat-raised-button
      color="accent"
      (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length"
    >
      Upload All
    </button>
    <button
      mat-button
      color="warn"
      (click)="uploader.clearQueue()"
      [disabled]="!uploader.queue.length"
    >
      Remove All
    </button>
  </div>
</div>
