﻿<mat-card>
  <mat-card-title>Search for a business to update</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      class="profile-search-grid-container"
      (ngSubmit)="submit()"
    >
      <section class="grid-search">
        <mat-form-field fxFlex="auto">
          <input
            type="text"
            matInput
            formControlName="ctrl"
            [matAutocomplete]="auto"
            placeholder="Search for a business"
          />
          <button
            mat-button
            *ngIf="!!form.get('ctrl').value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="form.get('ctrl').setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectBusiness($event.option.value)"
        >
          <mat-option
            *ngFor="let org of filtered | async"
            [value]="org"
            [hidden]="isNotFound"
          >
            <div class="ta-container">
              <h3
                class="ta-title"
                [innerHTML]="org.title | highlight: highlightedInputValue"
              ></h3>
              <p class="ta-subtitle">{{ org.secondaryTitle }}</p>
            </div>
          </mat-option>
          <mat-option
            *ngIf="isNotFound && inputValue.length > 0"
            class="no-data"
          >
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </section>
      <section class="grid-button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          aria-label="Search businesses"
        >
          Search
        </button>
      </section>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="showResultsObs | async">
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-title>{{ resultsHeading }}</mat-card-title>
  </mat-card>
  <mat-card *ngFor="let item of searchResult.items">
    <mat-card-header>
      <img
        mat-card-avatar
        src="{{ item.logoUrl || '/images/business-placeholder-logo.svg' }}"
      />
      <mat-card-title>{{ item.businessName }}</mat-card-title>
      <mat-card-subtitle>{{ item.displayAddress }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        BBB ID: {{ item.bbbId }}<br />
        Business ID: {{ item.businessId }}
      </p>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <a
        mat-raised-button
        color="primary"
        href="/#/admin/editProfileSeo?id={{ item.id }}"
        >Edit SEO</a
      >
      <a mat-button href="{{ item.profileUrl }}">View profile</a>
    </mat-card-actions>
  </mat-card>
  <floating-footer-pagination
    [totalPages]="searchResult.pageCount"
    [resultsOnPage]="searchResult.items.length"
    [currentPage]="searchResult.searchParams.pageNumber"
    [resultCount]="searchResult.resultCount"
    (updatePage)="updatePage($event)"
    [hideSpacer]="true"
  ></floating-footer-pagination>
</div>
