.ta-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ta-title {
  font-size: 15px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 4px;
}

.ta-subtitle {
  color: #444;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-search-grid-container {
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas: "search button";
  grid-template-columns: 1fr auto;

  .grid-search {
    grid-area: search;
  }

  .grid-button {
    grid-area: button;
  }
}
