<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Question</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<mat-dialog-content class="question-dialog">
  <mat-form-field class="edit-field">
    <mat-label>Question</mat-label>
    <input
      matInput
      [(ngModel)]="data.question.question"
      name="question"
      required
      [disabled]="!data.question.editable"
    />
  </mat-form-field>
  <h5>Qualification</h5>
  <editor
    [(ngModel)]="data.question.qualificationHtml"
    [init]="tinymceInit"
    [apiKey]="tinymceKey"
  ></editor>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="accent" type="button" (click)="update()">
    Save
  </button>
</mat-dialog-actions>
