<mat-card>
  <mat-card-title>BBB Information Page Image</mat-card-title>
  <mat-card-content>
    <bbb-carousel
      [canEdit]="canEdit"
      [(datasource)]="image"
      [single]="true"
      [hideEdit]="true"
      (overrideUpdate)="imageChange($event)"
      (overrideRemove)="imageDelete($event)"
    ></bbb-carousel>
  </mat-card-content>
</mat-card>