<ng-container *ngFor="let action of actions">
  <button *ngIf="action.raised" mat-raised-button [color]="action.color" [attr.aria-label]="action.desc" (click)="clickAction(action.label)">
    {{ action.label }}
  </button>
  <button *ngIf="!action.raised" mat-button [color]="action.color" [attr.aria-label]="action.desc" (click)="clickAction(action.label)">
    {{ action.label }}
  </button>
</ng-container>
