<div *ngIf="content.id">
  <mat-card *ngIf="!content.isCheckedOut" class="warning-card">
    <mat-card-content fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-hidden="true">info</mat-icon>
      <span>Please check out this article to make edits to it.</span>
    </mat-card-content>
  </mat-card>
  <mat-card
    *ngIf="content.isCheckedOut && !content.canEdit"
    class="warning-card"
  >
    <mat-card-content fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-hidden="true">info</mat-icon>
      <span
        >This content is being edited by {{ content.checkoutBy }}. Please come
        back later.</span
      >
    </mat-card-content>
  </mat-card>
</div>
