﻿<mat-card>
  <mat-card-title>Activity Summary</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let activity of items">
        <h4 mat-line>{{ activity.summary }}</h4>
        <p mat-line>{{ activity.createdDate | date: "MM/dd/yyyy 'at' h:mma" }}</p>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" (click)="getMoreActivity()" *ngIf="displayLoadMore">
      Load more
    </button>
  </mat-card-content>
</mat-card>
