.list-item {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
  
  .country-wrapper {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .title {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 2px;
  }
  
  .state-title {
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
  }
  
  .city-link {
    cursor: pointer;
  
    span:hover {
      text-decoration: underline;
    }
  
    .mat-icon {
      font-size: 14px;
      height: 14px;
      width: 14px;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .inline-select-field.mat-form-field-appearance-legacy {
    margin-left: 10px;
    .mat-form-field-infix {
      padding: 0;
    }
  }
  
  .date-form-field {
    .mat-form-field-infix {
      width: auto;
    }
  }
  
  .expiration-date-button.mat-raised-button {
    margin-bottom: 6px;
    margin-top: 6px;
    min-width: 0;
  }
  
  .date-menu-item.mat-menu-item {
    border-bottom: 1px solid #ddd;
    height: auto;
    padding-bottom: 8px;
    &:hover {
      background: inherit !important;
    }
  }
  