<div *ngIf="groupedLocations.length > 0" style="height:25px"></div>
    <div
      *ngFor="let country of groupedLocations"
      fxLayout="row wrap"
      fxLayoutAlign="start"
      class="country-wrapper"
    >
      <div fxFlexFill class="title">{{ country.name }}</div>
      <div fxFlex="25%" *ngFor="let state of country.states">
        <div class="state-title">{{ state.name }}</div>
        <div class="list-item" *ngFor="let location of state.cities">
          <div
            class="city-link"
            [matMenuTriggerFor]="pinMenu"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="2px"
          >
            <mat-icon *ngIf="isPinned(location)">room</mat-icon>
            <span>{{ location.city }}</span>
          </div>
          <mat-menu #pinMenu="matMenu">
            <span
              *ngIf="isPinned(location)"
              mat-menu-item
              [disableRipple]="true"
              (click)="$event.stopPropagation()"
              class="date-menu-item"
              fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutGap="10px"
            >
              <mat-form-field fxFlex="auto" class="date-form-field">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Pin expiration date"
                  [(ngModel)]="location.expirationDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                (click)="setExpiration(location)"
                fxFlex="auto"
                class="expiration-date-button"
              >
                Set
              </button>
            </span>
            <button
              mat-menu-item
              *ngIf="!isPinned(location)"
              (click)="pinLocation(location)"
            >
              Add Pin
            </button>
            <button
              mat-menu-item
              *ngIf="isPinned(location)"
              (click)="unpinLocation(location)"
            >
              Remove Pin
            </button>
            <button mat-menu-item (click)="removeLocation(location)">
              Remove Location
            </button>
          </mat-menu>
        </div>
      </div>
    </div>