﻿<mat-form-field fxFlex="auto">
  <mat-chip-list #stateProvinceChipList aria-label="Tag selection">
    <mat-chip
      *ngFor="let item of selectedItems"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)"
    >
      <span>{{ item }}</span>
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="placeholder"
      [formControl]="acCtrl"
      [matAutocomplete]="stateProvinceAuto"
      [matChipInputFor]="stateProvinceChipList"
      #stateInput
    />
  </mat-chip-list>
  <mat-autocomplete
    #stateProvinceAuto="matAutocomplete"
    (optionSelected)="select($event.option.value)"
  >
    <mat-option
      *ngFor="let state of filtered | async"
      [value]="state"
      [hidden]="isNotFound"
    >
      <span [innerHTML]="state | highlight: highlightedInputValue"></span>
    </mat-option>
    <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
      {{ notFoundMessage }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
