﻿<mat-card class="card-verification">
  <mat-toolbar>
    <span>Verification</span>
  </mat-toolbar>
  <mat-card-content>
    <form
      [formGroup]="verifyForm"
      (ngSubmit)="onSubmitVerify()"
      *ngIf="!canEnterCode"
    >
      <span class="verification-leadin">
        You have enabled two-factor authentication on your account. Please
        select a verification method to continue.
      </span>
      <mat-radio-group
        formControlName="method"
        class="verification-radio-group"
      >
        <mat-radio-button
          *ngFor="let verificationMethod of viewModel.verificationMethods"
          [value]="verificationMethod.value"
          class="verification-radio-button"
        >
          {{ verificationMethod.description }}
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" type="submit">Continue</button>
      <label>
        <strong style="color: red">{{ authMessage }}</strong>
      </label>
    </form>
    <form
      [formGroup]="enterCodeForm"
      (ngSubmit)="onSubmitEnterCode()"
      *ngIf="canEnterCode"
    >
      <span class="verification-leadin"
        >A verification code has been sent to your email. Please enter it below
        to continue.</span
      >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Verification Code"
          formControlName="code"
          autofocus
        />
      </mat-form-field>
      <section class="button-row">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!enterCodeForm.valid"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onResendCode()"
        >
          Resend Code
        </button>
      </section>
      <mat-checkbox formControlName="rememberMe">
        Remember me on this browser
      </mat-checkbox>
      <h4 class="error-message">{{ authMessage }}</h4>
      <h4 class="success-message">{{ codeResentMessage }}</h4>
    </form>
  </mat-card-content>
</mat-card>
