.card-verification {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;
  @media (max-width: 800px) {
    width: 80%;
  }
}

.verification-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  .verification-radio-button {
    margin: 5px;
  }
}

.button-row {
  margin-bottom: 10px;
  button + button {
    margin-left: 8px;
  }
}

.verification-leadin {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}