<mat-tree
  *ngIf="dataSource && dataSource.data && dataSource.data.length > 0"
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="nested-tree"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    cdkDrag
    [cdkDragDisabled]="!getIsEditable(node)"
    [cdkDragData]="node"
    (mouseenter)="dragHover(node)"
    (mouseleave)="dragHoverEnd()"
    (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()"
  >
    <span fxFlex="auto">
      <span *ngIf="!getIsEditable(node)" class="default-flag">default</span>
      {{ node.label }}
    </span>
    <section>
      <button mat-icon-button (click)="editItem(node)" *ngIf="allowItemEdit">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="addChild(node)"
        *ngIf="allowChildren && node.level === 0"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="deleteItem(node)"
        *ngIf="getIsEditable(node)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </section>
  </mat-tree-node>
</mat-tree>
