<mat-card>
  <mat-card-title>Apply For Accreditation</mat-card-title>
  <mat-card-content>
    <mat-form-field
      floatLabel="always"
      class="edit-field edit-field--fancy-label edit-field--required"
    >
      <mat-label>Application Term</mat-label>
      <div class="edit-field__actions">
        <mat-checkbox
          [(ngModel)]="bbb.applyForAccreditationInfo.showTerms"
          required
        >
          Show Term Detail
        </mat-checkbox>
      </div>
      <input
        matInput
        [(ngModel)]="bbb.applyForAccreditationInfo.terms"
        name="terms"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Application Submission</mat-label>

      <mat-select
        [(ngModel)]="bbb.applyForAccreditationInfo.applicationSubmission"
        name="submission"
        required
      >
        <mat-option
          *ngFor="let submission of applicationSubmissions"
          [value]="submission.value"
        >{{ submission.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field edit-field--fancy-label"
    >
      <mat-label>Payment processor URL</mat-label>     
      <input
        matInput
        [(ngModel)]="bbb.applyForAccreditationInfo.paymentProcessorUrl"
        name="paymentProcessorUrl"
        type="url"
        [required]="bbb.applyForAccreditationInfo.applicationSubmission=='2' ? 'required' : null"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <div class="edit-field__actions">
        <mat-checkbox [(ngModel)]="bbb.applyForAccreditationInfo.sendEmail">
          Opt-out of email notifications
        </mat-checkbox>
      </div>
      <mat-label>Email Address (comma delimited list)</mat-label>
      <textarea
        matInput
        [(ngModel)]="bbb.applyForAccreditationInfo.applyEmail"
        rows="3"
      ></textarea>
    </mat-form-field>
    <section>
      <button
        mat-button
        color="primary"
        (click)="addQuestion()"
        [disabled]="bbb.applyForAccreditationInfo.questions.length === MAX_QUESTIONS"
      >
        Add Question
      </button>
    </section>
    <apply-for-accreditation-question-drag-drop-tree
      [(questions)]="bbb.applyForAccreditationInfo.questions"
    ></apply-for-accreditation-question-drag-drop-tree>
  </mat-card-content>
</mat-card>
