<mat-card>
  <mat-card-content>
    <button mat-button color="primary" (click)="addGroup()">Add Group</button>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let group of groups">
  <mat-card-title>
    <span>{{ group.Group.name }}</span>
    <button
      mat-button
      color="primary"
      (click)="editGroup(group.Group)"
      class="edit-icon-btn"
      title="Change display name"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-button
      (click)="deleteGroup(group.Group)"
      color="primary"
      class="edit-icon-btn person-group-remove-btn"
      title="Remove this group"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <div class="edit-field" *ngIf="!!group.Group.name">
      <p>
        <span>Group URL</span>
        <copy-button [text]="generateGroupUrl(group.Group.name)"></copy-button>
      </p>
      <mat-form-field>
        <input
          matInput
          [ngModel]="generateGroupUrl(group.Group.name)"
          disabled
        />
      </mat-form-field>
    </div>

    <section fxLayout="row" fxLayoutGap="10px">
      <button mat-button color="primary" (click)="addPerson(group)">
        Add
      </button>
      <button
        mat-button
        color="primary"
        (click)="editPerson(group)"
        [disabled]="group.Grid.selected.selected.length === 0"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        (click)="deletePerson(group)"
        [disabled]="group.Grid.selected.selected.length === 0"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="group.Grid.dataSource"
      [hidden]="group.Group.persons.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? group.Grid.selected.toggle(row) : null"
            [checked]="group.Grid.selected.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedPersonsColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedPersonsColumns"
        (click)="group.Grid.selected.toggle(row)"
        [ngClass]="group.Grid.selected.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
