﻿<div>
  <b>States/Provinces</b>
  <div>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-chip-list #stateChipList aria-label="State selection">
          <mat-chip
            *ngFor="let state of selected"
            [selectable]="selectable"
            [removable]="editable"
            (removed)="removeState(state)"
          >
            <span
              [matMenuTriggerFor]="pinMenu"
              *ngIf="allowPin"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-icon *ngIf="state.isPinned">room</mat-icon>
              <strong>{{ state.locationId }}</strong>
            </span>
            <span *ngIf="!allowPin">
              <strong>{{ state.locationId }}</strong>
            </span>
            <mat-icon matChipRemove *ngIf="editable">cancel</mat-icon>
            <mat-menu #pinMenu="matMenu">
              <span
                *ngIf="state.isPinned"
                mat-menu-item
                [disableRipple]="true"
                (click)="$event.stopPropagation()"
                class="date-menu-item"
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="10px"
              >
                <mat-form-field fxFlex="auto" class="date-form-field">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Pin expiration date"
                    [(ngModel)]="state.pinExpirationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="setExpiration(state)"
                  fxFlex="auto"
                  class="expiration-date-button"
                >
                  Set
                </button>
              </span>
              <button
                mat-menu-item
                *ngIf="!state.isPinned"
                (click)="togglePin(state)"
              >
                Add Pin
              </button>
              <button
                mat-menu-item
                *ngIf="state.isPinned"
                (click)="togglePin(state)"
              >
                Remove Pin
              </button>
              <button mat-menu-item (click)="removeState(state)">
                Remove Location
              </button>
            </mat-menu>
          </mat-chip>
          <input
            placeholder="Search for a location to add"
            [formControl]="acCtrl"
            [matAutocomplete]="stateAuto"
            [matChipInputFor]="stateChipList"
            #stateInput
            [matAutocompleteDisabled]="!editable"
          />
        </mat-chip-list>
        <mat-autocomplete
          #stateAuto="matAutocomplete"
          (optionSelected)="selectState($event)"
        >
          <mat-option
            *ngFor="let state of filtered | async"
            [value]="state"
            [hidden]="isNotFound"
          >
            <span [innerHTML]="state | highlight: highlightedInputValue"></span>
          </mat-option>
          <mat-option
            *ngIf="isNotFound && inputValue.length > 0"
            class="no-data"
          >
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
