﻿<div class="image-picker">
  <button mat-button [disabled]="!editable" (click)="addItem()" type="button">Select</button>
  <button mat-button [disabled]="!editable" (click)="removeItem()" type="button">Remove</button>
</div>
