<mat-card>
  <mat-card-title>Above List Content *</mat-card-title>
  <mat-card-content>
    <editor [(ngModel)]="nearMe.aboveListContent" [init]="tinymceInit" [apiKey]="tinymceKey" [disabled]="!content.canEdit"></editor>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Related Information Headline</mat-label>
      <textarea
        matInput
        #relatedHeadlineInput
        [(ngModel)]="nearMe.relatedInformationHeadline"
        maxlength="250"
        rows="3"
        [disabled]="!content.canEdit"
        required
      ></textarea>
      <mat-hint align="end">{{ relatedHeadlineInput.value?.length || 0 }}/250</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Related Information Text *</mat-card-title>
  <mat-card-content>
    <editor [(ngModel)]="nearMe.relatedInformationText" [init]="tinymceInit" [apiKey]="tinymceKey" [disabled]="!content.canEdit"></editor>
  </mat-card-content>
</mat-card>
