.or {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 95px; 
    font-weight: bold;
    font-size: 16px;
}

.state-province-picker {
    margin-left: 15px;
}

::ng-deep .geo-tags .mat-input-element {
    height: 32px;
}

::ng-deep .geo-tags .mat-form-field-label {
    margin-top: 5px;
}

@media screen and (max-width: 959px) {
    .state-province-picker {
        margin-left: 0px;
    }

    .or {
        line-height: 30px; 
    }
}

@media screen and (max-width: 1279px) {
    .or {
        line-height: 30px; 
    }
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
  }