<mat-card *ngIf="content.type !== 'Near Me'">
  <mat-card-content>
    <card-country-picker
      *ngIf="isAdmin"
      [editable]="true"
      [selected]="content.countries"
      [contentCode]="content.code"
      (update)="updateGeotag($event)"
      (remove)="removeGeotag($event)"
    ></card-country-picker>
    <div
      class="geo-tags"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayout.md="column"
    >
      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxFlex="65"
        fxFlex.lt-md="100"
        fxFlex.md="100"
      >
        <card-city-picker
          fxFlex="34"
          fxFlex.lt-md="100"
          [selected]="content.cities"
          [filterByCountries]="content.countries"
          (add)="addLocation($event)"
          [canEdit]="true"
        ></card-city-picker>
        <card-state-province-picker
          class="state-province-picker"
          fxFlex="66"
          fxFlex.lt-md="100"
          [contentCode]="content.code"
          [editable]="true"
          [selected]="content.states"
          [showOnFocus]="true"
          [filterByCountries]="content.countries"
          (update)="updateGeotag($event)"
          (remove)="removeGeotag($event)"
        ></card-state-province-picker>
      </div>
      <div
        fxFlex="35"
        fxFlex.lt-md="100"
        fxFlex.md="100"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayout.md="column"
      >
        <div class="or" fxFlex="10" fxFlex.md="100" fxFlex.lt-md="100">
          or
        </div>
        <card-service-area-picker
          fxFlex="90"
          fxFlex.lt-md="100"
          fxFlex.md="100"
          [selected]="content.bbbIds"
          [showOnFocus]="true"
          [filterByCountries]="content.countries"
          (update)="updateGeotag($event)"
          (remove)="removeGeotag($event)"
          [contentCode]="content.code"
        ></card-service-area-picker>
      </div>
    </div>
    <div>
      <grouped-cities
        [pinnedData]="content.pinnedLocations"
        [selected]="content.cities"
        [pinned]="content.pinnedCities"
        (remove)="removeLocation($event)"
        (addPin)="addPin($event)"
        (updatePin)="updatePin($event)"
        (removePin)="removePin($event)"
      ></grouped-cities>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="content.type !== 'Near Me'">
  <mat-card-title>Keywords</mat-card-title>
  <mat-card-content>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-chip-list #tagChipList aria-label="Keyword selection">
          <mat-chip
            *ngFor="let tag of content.tags"
            [selectable]="false"
            [removable]="content.canEdit"
            (removed)="removeTag(tag)"
          >
            <span>{{ tag }}</span>
            <mat-icon matChipRemove *ngIf="content.canEdit">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Search for a tag"
            [formControl]="acCtrl"
            [matAutocomplete]="tagAuto"
            [matChipInputFor]="tagChipList"
            #tagInput
            [matAutocompleteDisabled]="!content.canEdit"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event.value)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #tagAuto="matAutocomplete"
          (optionSelected)="addTag($event.option.value)"
        >
          <mat-option
            *ngFor="let tag of filtered | async"
            [value]="tag"
            [hidden]="isNotFound"
          >
            <span [innerHTML]="tag | highlight: highlightedInputValue"></span>
          </mat-option>
          <mat-option
            *ngIf="isNotFound && inputValue.length > 0"
            class="no-data"
          >
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<card-site-picker
  [(selectedSites)]="content.sites"
  (update)="update()"
  [canRemove]="content.canEdit"
  *ngIf="content.type !== 'Near Me'"
></card-site-picker>
<mat-card *ngIf="isAdmin">
  <mat-card-title>
    Types of Business{{ content.isIndustryTip ? "*" : "" }}
  </mat-card-title>
  <mat-card-content>
    <mat-checkbox
      *ngIf="showIndustryTip"
      [(ngModel)]="content.isIndustryTip"
      (change)="updateIsIndustryTip($event.checked)"
      name="industryTip"
    >
      Industry Tip
    </mat-checkbox>
    <category-picker
      [(selected)]="content.categories"
      (update)="updateCategories()"
      [editable]="content.canEdit"
      [(excluded)]="categoryIdsToExclude"
      [countries]="content.countries"
    ></category-picker>
  </mat-card-content>
</mat-card>
<card-topic-picker
  [(selectedTopics)]="content.topics"
  [(pinnedTopic)]="content.pinnedTopic"
  (onPinAdd)="pinTopic($event)"
  (onAdded)="updateTopics()"
  (onRemoved)="removeTopic($event)"
  [canRemove]="content.canEdit"
  *ngIf="content.type !== 'Near Me'"
></card-topic-picker>
