﻿  <mat-card class="card-login">
    <mat-toolbar>
      <span>CoreCMS</span>
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <section class="login-form-container">
          <mat-label>Click Reset Password button to reset your password. An email will be sent with instructions on how to reset your password.</mat-label>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="email"
              placeholder="email"
            />
          </mat-form-field>
        </section>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!passwordForm.valid">
          Reset Password
        </button>
        <h4 class="error-message">{{ authMessage }}</h4>
      </form>
    </mat-card-content>

  </mat-card>
