<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Resource</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.resource.title" name="title" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.resource.description" name="description" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Link</mat-label>
      <input matInput [(ngModel)]="data.resource.url" name="url" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Priority</mat-label>
      <input matInput type="number" [(ngModel)]="data.resource.priority" name="priority" min="1" max="99" maxlength="2" required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
