<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Program</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.program.title" name="title" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Summary Text</mat-label>
      <textarea matInput [(ngModel)]="data.program.summaryText" name="summaryText" rows="2"></textarea>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Link URL</mat-label>
      <input matInput [(ngModel)]="data.program.linkUrl" name="linkUrl" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Icon</mat-label>
      <mat-select [(ngModel)]="data.program.icon" name="icon">
        <mat-option *ngFor="let programIcon of programIcons" [value]="programIcon.value">
          <ng-container *ngIf="programIcon.isImg">{{ programIcon.name }} <img [src]="programIcon.src" class="bbb-icon"/></ng-container>
          <ng-container *ngIf="!programIcon.isImg">{{ programIcon.name }} <i class="fa {{ programIcon.faClass }}"></i></ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Priority</mat-label>
      <input matInput type="number" [(ngModel)]="data.program.priority" name="priority" maxlength="2" min="1" max="99" required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
