<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Location</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.location.type" name="type" required>
        <mat-option
          *ngFor="let type of locationTypes"
          [value]="type.toLowerCase()"
        >
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Address</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.addressLine1"
        name="addressLine1"
        required
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Address 2</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.addressLine2"
        name="addressLine2"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="data.location.city" name="city" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>State</mat-label>
      <input matInput [(ngModel)]="data.location.state" name="state" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Zip Code</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.zipCode"
        name="zipCode"
        required
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="data.location.country" name="country" required>
        <mat-option *ngFor="let country of countries" [value]="country.value">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="edit-field"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="center baseline"
    >
      <mat-form-field fxFlex>
        <mat-label>Latitude</mat-label>
        <input
          type="number"
          matInput
          name="latitude"
          [(ngModel)]="data.location.latitude"
          required
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Longitude</mat-label>
        <input
          type="number"
          matInput
          name="longitude"
          [(ngModel)]="data.location.longitude"
          required
        />
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="geocode()"
        [disabled]="cannotGeocode"
      >
        Geocode <i class="fa fa-globe"></i>
      </button>
    </div>
    <mat-form-field class="edit-field">
      <mat-label>Contact Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="data.location.contactEmail"
        name="contactEmail"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.phoneNumber"
        name="phoneNumber"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Fax Number</mat-label>
      <input matInput [(ngModel)]="data.location.faxNumber" name="faxNumber" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Media Contact Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="data.location.contactEmailPr"
        name="contactEmailPr"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Media Contact Phone Number</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.phoneNumberPr"
        name="phoneNumberPr"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Text Number</mat-label>
      <input matInput [(ngModel)]="data.location.textNumber" name="textNumber" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Media Contact Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="data.location.contactEmailPr"
        name="contactEmailPr"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Media Contact Phone Number</mat-label>
      <input
        matInput
        [(ngModel)]="data.location.phoneNumberPr"
        name="phoneNumberPr"
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Office Hours (comma delimited list)</mat-label>
      <textarea
        matInput
        placeholder="(e.g. Sunday: Closed, Monday: 6AM - 10PM)"
        [(ngModel)]="officeHours"
        name="officeHours"
        rows="2"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Phone Hours (comma delimited list)</mat-label>
      <textarea
        matInput
        placeholder="(e.g. Sunday: Closed, Monday: 6AM - 10PM)"
        [(ngModel)]="phoneHours"
        name="phoneHours"
        rows="2"
      ></textarea>
    </mat-form-field>
    <div class="edit-field">
      <h5>State Jurisdiction</h5>
      <state-province-picker-inline
        placeholder="Select a state or province to add"
        [(selectedItems)]="data.location.jurisdiction"
        [countryCode]="data.location.country"
      ></state-province-picker-inline>
    </div>
    <div class="edit-field">
      <mat-checkbox
        [(ngModel)]="data.location.excludeFromLocator"
        name="excludeFromLocator"
      >
        Exclude from locator
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
