<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Social Media</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.socialMedia.name" name="name" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Icon</mat-label>
      <mat-select [(ngModel)]="data.socialMedia.id" name="icon" required>
        <mat-option *ngFor="let socialMediaIcon of icons" [value]="socialMediaIcon.id">
          {{ socialMediaIcon.name }} <i class="fa {{ socialMediaIcon.icon }}"></i>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>URL</mat-label>
      <input matInput [(ngModel)]="data.socialMedia.url" name="url" required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
