<navigation [links]="links" [(activeLink)]="activeLink"></navigation>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ profile.businessName }}</mat-card-title>
    <mat-card-subtitle>{{ profile.displayAddress }}</mat-card-subtitle>
    <img
      mat-card-avatar
      src="{{ profile.logoUrl || '/images/business-placeholder-logo.svg' }}"
    />
  </mat-card-header>
  <mat-card-content>
    <p>
      BBB ID: {{ profile.bbbId }}<br />
      Business ID: {{ profile.businessId }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="activeLink === 'General'">
  <mat-card-title>{{ metadataLabel }}</mat-card-title>
  <mat-card-content>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Page Title</mat-label>
      <input
        matInput
        [(ngModel)]="profile.metadata.pageTitle"
        name="pageTitle"
        maxlength="150"
        #titleInput
        required
      />
      <mat-hint align="end">{{ titleInput.value?.length || 0 }}/150</mat-hint>
    </mat-form-field>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Meta Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="profile.metadata.metaDesc"
        name="metaDesc"
        maxlength="300"
        #metaDescInput
        rows="2"
        required
      ></textarea>
      <mat-hint align="end"
        >{{ metaDescInput.value?.length || 0 }}/300</mat-hint
      >
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="togglePlaceholderInfo()">
      <mat-icon>
        {{ showInfoPanel ? "expand_less" : "expand_more" }}
      </mat-icon>
      {{
        showInfoPanel
          ? "Hide placeholder variable details"
          : "Show placeholder variable details"
      }}
    </button>
  </mat-card-actions>
  <section *ngIf="showInfoPanel">
    <mat-divider></mat-divider>
    <mat-list>
      <h3 mat-subheader>Supported placeholder variables</h3>
      <mat-list-item *ngFor="let placeholder of supportedVariables">
        <h4 mat-line>{{ placeholder.variable }}</h4>
        <p mat-line>{{ placeholder.description }}</p>
      </mat-list-item>
    </mat-list>
  </section>
</mat-card>
