﻿<mat-form-field fxFlex="auto">
  <mat-chip-list #categoryChipList aria-label="Tag selection">
    <mat-chip
      *ngFor="let category of selected"
      [selectable]="selectable"
      [removable]="editable"
      (removed)="remove(category)"
    >
      <span>{{ category.title }}</span>
      <mat-icon matChipRemove *ngIf="editable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Select a Business Type"
      [formControl]="acCtrl"
      [matAutocomplete]="categoryAuto"
      [matChipInputFor]="categoryChipList"
      #categoryInput
      [matAutocompleteDisabled]="!editable"
    />
  </mat-chip-list>
  <mat-autocomplete
    #categoryAuto="matAutocomplete"
    (optionSelected)="select($event)"
  >
    <mat-option
      *ngFor="let category of filtered | async"
      [value]="category"
      [hidden]="isNotFound"
    >
      <span
        [innerHTML]="category.title | highlight: highlightedInputValue"
      ></span>
    </mat-option>
    <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
      {{ notFoundMessage }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
