<mat-card>
  <mat-card-title>Lists</mat-card-title>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Area Codes (comma delimited list)</mat-label>
      <textarea matInput [(ngModel)]="bbb.areaCodes" [disabled]="!canEdit" rows="3" required></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Subdomains (comma delimited list)</mat-label>
      <textarea matInput [(ngModel)]="bbb.subdomains" [disabled]="!canEdit" rows="3"></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Base URI Aliases (comma delimited list)</mat-label>
      <textarea matInput [(ngModel)]="bbb.baseUriAliases" [disabled]="!canEdit" rows="3"></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Phone Leads Emails (comma delimited list)</mat-label>
      <textarea matInput [(ngModel)]="bbb.phoneLeadsEmails" [disabled]="!canEdit" rows="3"></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <div class="edit-field__actions">
        <mat-checkbox [(ngModel)]="bbb.businessLeadEmailNotficationEnabled">
          Opt-out of email notifications
        </mat-checkbox>
      </div>
      <mat-label>Get-listed Email Notifications</mat-label>
      <input matInput class="ng-cloak">
    </mat-form-field>
  </mat-card-content>
</mat-card>
