<mat-card>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Summary Text</mat-label>
      <textarea matInput #summaryInput [(ngModel)]="content.summary" maxlength="250" rows="3" [disabled]="!content.canEdit" required></textarea>
      <mat-hint align="end">{{ summaryInput.value?.length || 0 }}/250</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Main Text *</mat-card-title>
  <mat-card-content>
    <editor [(ngModel)]="content.contentHtml" [init]="tinymceInit" [disabled]="!content.canEdit" [apiKey]="tinymceKey"></editor>
  </mat-card-content>
</mat-card>
