<mat-form-field fxFlex="auto">
  <input
    type="text"
    matInput
    [formControl]="acCtrl"
    [matAutocomplete]="bbbSel"
    placeholder="{{placeholder}}"
    #categoryInput
  />
  <button
    mat-button
    *ngIf="!!acCtrl.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clear()"
    type="button"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>

<mat-autocomplete
  #bbbSel="matAutocomplete"
  (optionSelected)="select($event)"
>
  <mat-option
    *ngFor="let bbb of filtered | async"
    [value]="bbb"
    [hidden]="isNotFound"
  >
    <span [innerHTML]="bbb.bbbName | highlight: highlightedInputValue">
    </span>
  </mat-option>
  <mat-option *ngIf="isNotFound && inputValue.length > 0">
    {{ notFoundMessage }}
  </mat-option>
</mat-autocomplete>
