.question-dialog {
  width: 600px;
  max-width: 100%;
}

.subquestion-container{
  margin: 15px 0px 0px 15px;
}

.subquestion{
  margin-top: 1.4em;
  position: relative;
}

.incognito-button.remove{
  position: absolute;
  right: -20px;
  top: -30px;
}