<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Question</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<mat-dialog-content class="question-dialog">
  <mat-form-field class="edit-field">
    <mat-label>Eligibility Question</mat-label>
    <input
      matInput
      [(ngModel)]="data.question.question"
      name="question"
      required
      [disabled]="!data.question.editable"
    />
  </mat-form-field>
  <mat-form-field class="edit-field">
    <mat-label>Help text</mat-label>
    <input
    matInput
      [(ngModel)]="data.question.helptext"
      name="helptext"
      [disabled]="!data.question.editable"
    />
  </mat-form-field>
 <div class="edit-field layout-view-selector-container">
    <mat-label style=" color: rgba(0, 0, 0, 0.54); font-size: 13px;">Is Required *</mat-label>
    <mat-radio-group
    [(ngModel)]="data.question.required"
    name="required"
    fxLayout="row"
    fxLayoutGap="15px"
    required    
  >
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="accent" type="button" (click)="update()">
    Save
  </button>
</mat-dialog-actions>
