﻿<div>
  <b>Countries*</b>
  <div>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-chip-list #countryChipList aria-label="Country selection">
          <mat-chip
            *ngFor="let country of selected"
            [selectable]="selectable"
            [removable]="editable"
            (removed)="removeCountry(country)"
          >
            <span
              [matMenuTriggerFor]="pinMenu"
              *ngIf="allowPin"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-icon *ngIf="country.isPinned">room</mat-icon>
              <strong>{{ country.locationId }}</strong>
            </span>
            <span *ngIf="!allowPin">
              <strong>{{ country.locationId }}</strong>
            </span>
            <mat-menu #pinMenu="matMenu">
              <span
                *ngIf="country.isPinned"
                mat-menu-item
                [disableRipple]="true"
                (click)="$event.stopPropagation()"
                class="date-menu-item"
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="10px"
              >
                <mat-form-field fxFlex="auto" class="date-form-field">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Pin expiration date"
                    [(ngModel)]="country.pinExpirationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="setExpiration(country)"
                  fxFlex="auto"
                  class="expiration-date-button"
                >
                  Set
                </button>
              </span>
              <button
                mat-menu-item
                *ngIf="!country.isPinned"
                (click)="togglePin(country)"
              >
                Add Pin
              </button>
              <button
                mat-menu-item
                *ngIf="country.isPinned"
                (click)="togglePin(country)"
              >
                Remove Pin
              </button>
              <button mat-menu-item (click)="removeCountry(country)">
                Remove Location
              </button>
            </mat-menu>
            <mat-icon matChipRemove *ngIf="editable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Search for a location to add"
            [formControl]="acCtrl"
            [matAutocomplete]="countryAuto"
            [matChipInputFor]="countryChipList"
            #countryInput
            [matAutocompleteDisabled]="!editable"
          />
        </mat-chip-list>
        <mat-autocomplete
          #countryAuto="matAutocomplete"
          (optionSelected)="selectCountry($event)"
        >
          <mat-option
            *ngFor="let country of filtered | async"
            [value]="country"
            [hidden]="isNotFound"
          >
            <span [innerHTML]="country | highlight: highlightedInputValue">
            </span>
          </mat-option>
          <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
