<mat-form-field fxFlex="auto">
  <input
    type="text"
    matInput
    [formControl]="acCtrl"
    [matAutocomplete]="categoryAuto"
    #categoryInput
  />
</mat-form-field>
<mat-autocomplete
  #categoryAuto="matAutocomplete"
  (optionSelected)="select($event)"
>
  <mat-option
    *ngFor="let category of filtered | async"
    [value]="category"
    [hidden]="isNotFound"
  >
    <span [innerHTML]="category.title | highlight: highlightedInputValue">
    </span>
  </mat-option>
  <mat-option *ngIf="isNotFound && inputValue.length > 0">
    {{ notFoundMessage }}
  </mat-option>
</mat-autocomplete>
