.gray {
    background-color: #F4F4F4;
}

.top-articles {
    .article {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        max-width: 33%;

        .mat-card-image {
            width: calc(100%);            
            height: 300px;
            object-fit: fill;
        }
    }
}

.vertical.article {
    padding-left: 0;
    padding-right: 0;
    display: flex;

    .articleid {
        margin-top: 0px;
        color: #626262;
    }
    .mat-card-content {
        padding: 0 20px;
        margin-bottom: 0px;
    }
    .order-number {
        line-height: 60px;
        text-align: center;
    }
    .order-container {
        position: relative;
        .order-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.article {
    border: 1px solid #E0E0E0;

    .add-box-container {
        position: relative;
        .add-box {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    .articleid {
        margin-bottom: -4px;
        margin-top: 10px;
    }

    .mat-card-actions {
        margin-bottom: -20px;
    }

    .mat-card-title {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .mat-card-subtitle {
        color: #626262;
    }

    .mat-card-image {
        height:60px;
        width: 120px;
        margin:0;
        border: 2px solid #999C9B;
        object-fit: fill;
    }

    .order-icon {
        float: right;
        cursor: pointer;
    }

    .mat-card-actions {
        a, button {
            font-weight: bold;
        }
    }

    .order-container {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .order-number {
        font-weight: bold;
        font-size: 1rem;
    }
}
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }