
<layout-view-selector (selectedItemChange)="refresh($event)" [articleOrderId]="articleOrderId" [overrideFeedId]="overrideFeedId"></layout-view-selector>

<mat-card 
  class="top-articles" 
  fxLayout="row" 
  cdkDropList
  #horizontalGroupArticlesList="cdkDropList"
  cdkDropListOrientation="horizontal" 
  [cdkDropListData]="horizontalGroupArticles" 
  [cdkDropListConnectedTo]="[verticalGroupArticlesList]"
  (cdkDropListDropped)="drop($event)">
    <div *ngIf="hasNoData()" class="center">
      No Entries!
    </div>
    <mat-card class="article gray" *ngFor="let item of horizontalGroupArticles" cdkDrag fxFlex>
      <div class="order-container">
        {{item.order}}
        <img src="/images/horizontal-reorder-icon.png" class="order-icon" cdkDragHandle />
      </div>
      <img mat-card-image src="{{getImageOrDefault(item.imageUrl)}}">
      <div class="articleid mat-card-subtitle">#{{item.id}}</div>
      <mat-card-title>{{ item.title | truncate: 70 }}</mat-card-title>
      <mat-card-subtitle>
        <span class="heading">Publish Date:</span>
        <span>{{ item.publishDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
      </mat-card-subtitle>
      <mat-card-actions fxLayout="row">
        <a
          class="action"
          mat-button
          color="accent"
          [target]="linkTarget"
          href="/#/content/create?contentCode={{ item.code }}"
          >View</a>
        <button
          mat-button
          color="warn"
          (click)="showConfirmDelete(item.code)"
          *ngIf="canDelete()">
          Remove from feed
        </button>
      </mat-card-actions>
    </mat-card>
</mat-card>

<div 
  cdkDropList 
  #verticalGroupArticlesList="cdkDropList"
  [cdkDropListData]="verticalGroupArticles"
  [cdkDropListConnectedTo]="[horizontalGroupArticlesList]"
  (cdkDropListDropped)="drop($event)">
  <mat-card class="article vertical" *ngFor="let item of verticalGroupArticles" fxLayout="row" cdkDrag>
    <div *ngIf="!item.fromNextPage" class="order-number" fxFlex="60px">{{item.order}}</div>
    <div fxFlex="60px" *ngIf="item.fromNextPage" class="add-box-container">
      <mat-icon aria-hidden="false" class="add-box" title="add to my top 10" aria-label="add to my top 10" cdkDragHandle>add_box</mat-icon>
    </div>
    <img mat-card-image fxFlex="120px" src="{{getImageOrDefault(item.imageUrl)}}">
    <mat-card-content fxFlex="calc(100% - 600px)">
        <div class="articleid mat-card-subtitle">#{{item.id}}</div>
        <mat-card-title>{{ item.title | truncate: 70 }}</mat-card-title>
        <mat-card-subtitle>
          <span class="heading">Publish Date:</span>
          <span>{{ item.publishDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
        </mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions fxFlex="270px">
          <a
            mat-button
            color="accent"
            [target]="linkTarget"
            href="/#/content/create?contentCode={{ item.code }}"
            >View</a>
          <!-- <a mat-button [href]="getPreviewUrl(item.code)" target="_blank">Preview</a> -->
          <button
            mat-button
            color="warn"
            (click)="showConfirmDelete(item.code)"
            *ngIf="canDelete()">
            Remove from feed
          </button>
      </mat-card-actions>
      <div class="order-container" fxFlex="60px">
        <img src="/images/vertical-reorder-icon.png" class="order-icon" cdkDragHandle />
      </div>
  </mat-card>
</div>
<floating-footer-pagination
  [disabled]="disabledCardControls"
  [totalPages]="totalPages"
  [resultsOnPage]="itemsInPage"
  [currentPage]="params.page"
  [resultCount]="totalRecords"
  (updatePage)="updatePage($event)"
></floating-footer-pagination>
