<!-- <card-activity-list [getItems]="getItems"></card-activity-list> -->
<mat-card>
    <mat-card-content>
        <mat-card-title>Accreditation leads report</mat-card-title>      
        <mat-form-field floatLabel="always" class="edit-field">
            <mat-label>Range Start</mat-label>
            <input
                matInput
                [owlDateTime]="dtAccredRangeStart"
                [owlDateTimeTrigger]="dtAccredRangeStart"
                [(ngModel)]="accredRangeStart"
                required
            />
            <owl-date-time [pickerType]="'calendar'" #dtAccredRangeStart></owl-date-time>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="edit-field">
            <mat-label>Range End</mat-label>
            <input
            matInput
            [owlDateTime]="dtAccredRangeEnd"
            [owlDateTimeTrigger]="dtAccredRangeEnd"
            [(ngModel)]="accredRangeEnd"
            />
            <owl-date-time [pickerType]="'calendar'" #dtAccredRangeEnd></owl-date-time>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="accredRangeStart==null" (click)="getAccreditationLeadsReport()" >Download Accreditation leads report</button>
    </mat-card-content>
    <mat-card-content>
        <mat-card-title>Listed leads report</mat-card-title>      
        <mat-form-field floatLabel="always" class="edit-field">
            <mat-label>Range Start</mat-label>
            <input
                matInput
                [owlDateTime]="dtListedRangeStart"
                [owlDateTimeTrigger]="dtListedRangeStart"
                [(ngModel)]="listedRangeStart"
                required
            />
            <owl-date-time [pickerType]="'calendar'" #dtListedRangeStart></owl-date-time>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="edit-field">
            <mat-label>Range End</mat-label>
            <input
            matInput
            [owlDateTime]="dtListedRangeEnd"
            [owlDateTimeTrigger]="dtListedRangeEnd"
            [(ngModel)]="listedRangeEnd"
            />
            <owl-date-time [pickerType]="'calendar'" #dtListedRangeEnd></owl-date-time>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="listedRangeStart==null" (click)="getListedLeadsReport()" >Download Listed leads report</button>
    </mat-card-content>
</mat-card>
  