<mat-drawer-container class="layout-fill layout-row" autosize>
  <mat-drawer
    #drawer
    mode="side"
    [opened]="!isXs"
    fixedInViewport
    style="width: 150px;"
  >
    <div fxLayout="column wrap" style="height: 100%">
      <mat-toolbar color="primary" fxFlex="none">
        <h3>{{ title }}</h3>
      </mat-toolbar>
      <a
        mat-button
        color="accent"
        *ngFor="let item of menuItems"
        [href]="item.href"
        fxFlex
        fxLayout="column wrap"
        fxLayoutAlign="center"
        class="menu-item"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <div>{{ item.name }}</div>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="column wrap">
      <mat-toolbar color="primary" fxFlex="auto" class="fixed-toolbar">
        <section fxLayoutAlign="start center" fxFlex="none" *ngIf="isXs">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </section>
        <section fxLayoutAlign="end center" fxFlex>
          <button mat-button [matMenuTriggerFor]="userMenu">
            {{ user.email }}
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="profile()">Profile</button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
        </section>
      </mat-toolbar>
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
      <div ng-view></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
