.menu-item {
  font-size: 15px;

  + .menu-item {
    border-top: 1px solid #ccc;
  }

  .mat-icon {
    height: 36px;
    width: 36px;
  }

  .material-icons {
    font-size: 36px;
  }
}

.fixed-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.router-outlet {
  width: 100%;
}