<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>{{title}}</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>

<form (ngSubmit)="update()" #form="ngForm">

  <mat-dialog-content>

    <mat-error *ngIf="validationError">{{errorMessage}}</mat-error>

    <div *ngIf="data.mode === 'adduser'">
      <mat-form-field class="edit-field">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="data.user.firstName" name="firstName" maxlength="100" required/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="data.user.lastName" name="lastName" maxlength="100" required/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [(ngModel)]="data.user.email" name="email" maxlength="100" required/>
      </mat-form-field>
      <bbb-selector
        [title]="'BBB'"
        [selectedBbbName]="selectedBBB !== null ? selectedBBB.bbbName : null"
        (selectedChange)="bbbSelectionChange($event)"
        [(selected)]="selectedBBB"
      ></bbb-selector>
      <mat-form-field class="edit-field">
        <mat-label>Roles</mat-label>
        <mat-select placeholder="Roles" [(value)]="selectedRoles" multiple>
          <mat-option *ngFor="let role of roles" [value]="role.roleName">{{role.roleName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="data.user.emailPassword" name="published">
        Email Temporary Password
      </mat-checkbox>

    </div>

    <div *ngIf="data.mode === 'edituser'">
      <mat-form-field class="edit-field">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="data.user.firstName" name="firstName" maxlength="100" required/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="data.user.lastName" name="lastName" maxlength="100" required/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [(ngModel)]="data.user.email" name="email" maxlength="100" required/>
      </mat-form-field>
      <input type="hidden"  [(ngModel)]="validBBBSelection"  [ngModelOptions]="{standalone: true}" required/>


      <bbb-selector
        [title]="'BBB'"
        [selectedBbbName]="(selectedBBB === null || selectedBBB === undefined ) ? null: selectedBBB.bbbName"
        (selectedChange)="bbbSelectionChange($event)"
        [(selected)]="selectedBBB"
      ></bbb-selector>
      <mat-form-field class="edit-field">
        <mat-label>Roles</mat-label>
        <mat-select placeholder="Roles" [(value)]="selectedRoles" multiple>
          <mat-option *ngFor="let role of roles" [value]="role.roleName">{{role.roleName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="data.mode === 'statuschange'">
      <mat-form-field class="edit-field">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [(ngModel)]="data.user.email" name="email" maxlength="100" readonly/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="data.user.status">
          <mat-option>None</mat-option>
          <mat-option value="ACTIVE">ACTIVE</mat-option>
          <mat-option value="INACTIVE">INACTIVE</mat-option>
          <mat-option value="LOCKED">LOCKED</mat-option>
          <mat-option value="RESET">RESET</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="data.user.emailPassword" [disabled]="data.user.status !== 'RESET'" name="published">
        Email Temporary Password
      </mat-checkbox>

    </div>

    <div *ngIf="data.mode === 'passwordchange'">
      <mat-form-field class="edit-field">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [(ngModel)]="data.user.email" name="email" maxlength="100" readonly/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [(ngModel)]="data.user.password" name="password" maxlength="100"/>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput [(ngModel)]="data.user.confirmPwd" name="confirmPwd" maxlength="100"/>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="data.user.emailPassword" [disabled]="data.user.status !== 'RESET'" name="published">
        Email Password
      </mat-checkbox>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
