<mat-card>
  <mat-card-title>Users</mat-card-title>
  <mat-card-content>
    <section fxLayout="row" fxLayoutGap="10px">
      <button mat-button (click)="add()" color="primary">Add</button>
      <button mat-button color="primary" (click)="edit()" [disabled]="selected.selected.length === 0">
        Edit
      </button>
      <button mat-button color="warn" (click)="delete()" [disabled]="selected.selected.length === 0">
        Remove
      </button>
      <button mat-button color="primary" (click)="changeStatus()" [disabled]="selected.selected.length === 0">
        Change Status
      </button>
      <button mat-button color="primary" (click)="setPassword()" [disabled]="selected.selected.length === 0" >
        Set Password
      </button>
    </section>
    <mat-form-field class="edit-field">
      <mat-label>Search</mat-label>
      <input matInput #searchCtrl type="text" [(ngModel)]="search" name="searchCtrl" maxlength="200"  />
    </mat-form-field>
    <table mat-table matSort [dataSource]="dataSource" class="full-width selectable">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selected.toggle(row) : null"
            [checked]="selected.isSelected(row)"
            style="margin-right: 8px;"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>User Id</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.userId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>First Name</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Last Name</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Email</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Status</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selected.toggle(row)"
        [ngClass]="selected.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  </mat-card-content>
</mat-card>
