﻿<div>
  <b>Service Area</b>
  <div>
  <div *ngIf="isAdmin">
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-chip-list #serviceAreaChipList aria-label="Tag BBB service area">
          <mat-chip
            *ngFor="let bbb of selected"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeLocation(bbb)"
          >
            <span
              [matMenuTriggerFor]="pinMenu"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-icon *ngIf="bbb.isPinned">room</mat-icon>
              <strong>{{ bbb.locationId }}</strong>
            </span>
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            <mat-menu #pinMenu="matMenu">
              <span
                *ngIf="bbb.isPinned"
                mat-menu-item
                [disableRipple]="true"
                (click)="$event.stopPropagation()"
                class="date-menu-item"
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="10px"
              >
                <mat-form-field fxFlex="auto" class="date-form-field">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Pin expiration date"
                    [(ngModel)]="bbb.pinExpirationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="setExpiration(bbb)"
                  fxFlex="auto"
                  class="expiration-date-button"
                >
                  Set
                </button>
              </span>
              <button
                mat-menu-item
                *ngIf="!bbb.isPinned"
                (click)="togglePin(bbb)"
              >
                Add Pin
              </button>
              <button
                mat-menu-item
                *ngIf="bbb.isPinned"
                (click)="togglePin(bbb)"
              >
                Remove Pin
              </button>
              <button mat-menu-item (click)="removeLocation(bbb)">
                Remove Location
              </button>
            </mat-menu>
          </mat-chip>
          <input
            placeholder="Select a BBB"
            [formControl]="acCtrl"
            [matAutocomplete]="serviceAreaAuto"
            [matChipInputFor]="serviceAreaChipList"
            #serviceAreaInput
            matInput
          />
        </mat-chip-list>
        <mat-autocomplete
          #serviceAreaAuto="matAutocomplete"
          (optionSelected)="selectLocation($event.option.value)"
        >
          <mat-option
            *ngFor="let bbb of filtered | async"
            [value]="bbb"
            [hidden]="isNotFound"
          >
            <span
              [innerHTML]="bbb.bbbName | highlight: highlightedInputValue"
            ></span>
          </mat-option>
          <mat-option
            *ngIf="isNotFound && inputValue.length > 0"
            class="no-data"
          >
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="!isAdmin">
    <div fxLayout="row wrap">
      <mat-checkbox
        [(ngModel)]="isTagged"
        aria-label="Service area is tagged"
        (change)="toggleUserTag()"
        fxFlex="100%"
      >
        Checking this box will tag all cities within your BBB territory.
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="isPinned"
        aria-label="Service area is pinned"
        (change)="toggleUserPin()"
        fxFlex="100%"
      >
        Checking this box will tag and pin the article or event on all cities
        within your BBB territory.
      </mat-checkbox>
      <span
        *ngIf="this.isPinned"
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        class="date-menu-item"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        style="margin-top: 10px;"
      >
        <mat-form-field fxFlex="auto" class="date-form-field">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Pin expiration date"
            [(ngModel)]="this.userBbbGeotag.pinExpirationDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="setExpiration(this.userBbbGeotag)"
          fxFlex="auto"
          class="expiration-date-button"
        >
          Set
        </button>
      </span>
    </div>
  </div>
</div>
</div>