﻿<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="search()">
      <div *ngIf="cardSearchObs | async">
        <div fxLayout="row">
          <mat-form-field fxFlex="auto">
            <input type="text" matInput placeholder="Headline" formControlName="headlineCtrl" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="auto">
            <input type="text" matInput placeholder="Created by" formControlName="createdByCtrl" />
          </mat-form-field>
          <mat-form-field fxFlex="auto">
            <input type="text" matInput placeholder="Tags" formControlName="tagsCtrl" />
          </mat-form-field>
        </div>
      </div>
      <button mat-button type="submit" *ngIf="cardSearchObs | async" [disabled]="disabledCardControls">
        Search
      </button>
      <button mat-button (click)="toggleSearch()">
        <mat-icon *ngIf="!(cardSearchObs | async)">search</mat-icon>
        <mat-icon *ngIf="cardSearchObs | async">close</mat-icon>
      </button>
      <span *ngIf="totalPages > 1">
        <button
          mat-button
          (click)="previousPage()"
          [disabled]="disabledCardControls || cardOptions.currentPage == 1"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button
          mat-button
          (click)="nextPage()"
          [disabled]="disabledCardControls || cardOptions.currentPage == totalPages"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>
        <span flex class="flex"></span>
        <b style="padding-top: 7px;">
          {{ resultCount }} results in page {{ cardOptions.currentPage }} / {{ totalPages }} for
          {{ totalResultCountLabel }}
          records
        </b>
      </span>
    </form>
  </mat-card-content>
</mat-card>
<floating-footer-pagination
  [disabled]="disabledCardControls"
  [totalPages]="totalPages"
  [resultsOnPage]="resultCount"
  [currentPage]="cardOptions.currentPage"
  [resultCount]="totalResultCountLabel"
  (updatePage)="updatePage($event)"
  [hideSpacer]="true"
></floating-footer-pagination>
