﻿<mat-card class="card-search">
  <mat-card-content>
    <form [formGroup]="form" (keydown.enter)="onFormSubmit($event)">
      <div>
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="hideContentField">
          <mat-form-field fxFlex="50">
            <input type="text" matInput placeholder="Headline" formControlName="headlineCtrl" />
          </mat-form-field>
          <mat-form-field fxFlex="30">
            <input type="number" matInput placeholder="Article Number" formControlName="articleNumberCtrl" />
            <mat-error *ngIf="form.get('articleNumberCtrl').hasError('pattern')"
              >Please enter a valid article number.</mat-error
            >
          </mat-form-field>
          <div *ngIf="showSearchButton" class="search-all-button-cnt" fxFlex="170px" fxFlex.lt-md="100%">
            <button mat-button color="primary" (click)="search()" class="search-btn">
              Search All Content
            </button>
          </div>
        </div>
        <div fxLayout="row" *ngIf="!hideContentField">
          <mat-form-field fxFlex="auto">
            <input type="text" matInput placeholder="Headline" formControlName="headlineCtrl" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="!hideContentField">
          <mat-form-field fxFlex="auto">
            <input type="number" matInput placeholder="Article Number" formControlName="articleNumberCtrl" />
            <mat-error *ngIf="form.get('articleNumberCtrl').hasError('pattern')"
              >Please enter a valid article number.</mat-error
            >
          </mat-form-field>
          <mat-form-field fxFlex="auto" *ngIf="!hideContentField">
            <input type="text" matInput placeholder="Content" formControlName="contentCtrl" />
            <mat-error *ngIf="form.get('contentCtrl').hasError('maxlength')"
              >Please enter 50 characters or less.</mat-error
            >
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="!hideCreatedByField || !hideTagsField">
          <mat-form-field fxFlex="auto" *ngIf="!hideCreatedByField">
            <input type="text" matInput placeholder="Created By" formControlName="createdByCtrl" />
          </mat-form-field>
          <mat-form-field fxFlex="auto" *ngIf="!hideTagsField">
            <input type="text" matInput placeholder="Tags" formControlName="tagsCtrl" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="!hideServiceAreaField">
          <mat-form-field fxFlex="50"  [style.padding-right]="'10px'">
            <input type="text" matInput placeholder="Service Area" formControlName="serviceAreaCtrl" />
            <mat-error *ngIf="form.get('serviceAreaCtrl').hasError('pattern')"
              >Please enter a valid service area.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<floating-footer-pagination
  [disabled]="disabledCardControls"
  [totalPages]="totalPages"
  [resultsOnPage]="resultCount"
  [currentPage]="cardOptions.page"
  [resultCount]="totalResultCountLabel"
  (updatePage)="updatePage($event)"
  [hideSpacer]="true"
></floating-footer-pagination>
