.mat-card {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.search-all-button-cnt {
    position: relative;
    height: 45px;
}

.search-btn {
    right: 0;
    top: 50%;
    margin-top: -18px;
}