﻿<mat-form-field>
  <mat-select placeholder="Roles" [formControl]="roles" [(value)]="selectedRoles" multiple>
    <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
  </mat-select>
</mat-form-field>
<p>
  {{selectedRoles | json}}
</p>

