<mat-card>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Headline</mat-label>
      <input
        matInput
        #headlineInput
        [(ngModel)]="content.title"
        maxlength="200"
        [disabled]="!content.canEdit"
        required
      />
      <mat-hint align="end"
        >{{ headlineInput.value?.length || 0 }}/200</mat-hint
      >
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Type</mat-label>
      <input
        matInput
        [formControl]="typeCtrl"
        [matAutocomplete]="typeAuto"
        required
      />
      <button
        mat-button
        *ngIf="!!typeCtrl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="typeCtrl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete
        #typeAuto="matAutocomplete"
        (optionSelected)="selectType($event.option.value)"
      >
        <mat-option *ngFor="let type of filteredTypes | async" [value]="type">
          <span [innerHTML]="type | highlight: typeToHighlight"></span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Layout</mat-label>
      <input
        matInput
        [formControl]="layoutCtrl"
        [matAutocomplete]="layoutAuto"
        placeholder="Select a layout"
        required
      />
      <button
        mat-button
        *ngIf="!!layoutCtrl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="layoutCtrl.setValue(null)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete
        #layoutAuto="matAutocomplete"
        (optionSelected)="selectLayout($event.option.value)"
        [displayWith]="displayLayout.bind(this)"
      >
        <mat-option
          *ngFor="let layout of filteredLayouts | async"
          [value]="layout"
        >
          <span
            [innerHTML]="layout.description | highlight: layoutToHighlight"
          ></span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Publish Date</mat-label>
      <input
        matInput
        [owlDateTime]="dtPublish"
        [owlDateTimeTrigger]="dtPublish"
        [disabled]="!content.canEdit"
        [(ngModel)]="content.publishDate"
      />
      <owl-date-time #dtPublish></owl-date-time>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Modified Date</mat-label>
      <input
        matInput
        [owlDateTime]="dtModified"
        [owlDateTimeTrigger]="dtModified"
        [disabled]="!content.canEdit"
        [(ngModel)]="content.modifiedDate"
      />
      <owl-date-time #dtModified></owl-date-time>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Expiration Date</mat-label>
      <input
        matInput
        [owlDateTime]="dtExpire"
        [owlDateTimeTrigger]="dtExpire"
        [disabled]="!content.canEdit"
        [(ngModel)]="content.expirationDate"
      />
      <owl-date-time #dtExpire></owl-date-time>
    </mat-form-field>
  </mat-card-content>
</mat-card>
