<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Link</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Link Text</mat-label>
      <input matInput [(ngModel)]="data.link.linkText" name="linkText" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Link URL</mat-label>
      <input matInput [(ngModel)]="data.link.linkUrl" name="linkUrl" required />
    </mat-form-field>
    <mat-form-field class="edit-field" *ngIf="!data.hidePriorityField">
      <mat-label>Priority</mat-label>
      <input matInput type="number" [(ngModel)]="data.link.priority" name="priority" min="1" max="99" maxlength="2" required />
    </mat-form-field>
    <div class="edit-field">
      <mat-checkbox [(ngModel)]="data.link.disabled" name="disabled">Disabled</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
