<mat-tree
  *ngIf="dataSource && dataSource.data && dataSource.data.length > 0"
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="nested-tree"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    cdkDrag
    [cdkDragData]="node"
    (mouseenter)="dragHover(node)"
    (mouseleave)="dragHoverEnd()"
    (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()"
  >
    <button mat-icon-button disabled *ngIf="!node.expandable"></button>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name"
      *ngIf="node.expandable"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <span fxFlex="auto">{{ node.label }}</span>
    <section>
      <button mat-icon-button (click)="editItem(node)" *ngIf="allowItemEdit">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="addChild(node)"
        *ngIf="allowChildren && node.level === 0"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteItem(node)">
        <mat-icon>delete</mat-icon>
      </button>
    </section>
  </mat-tree-node>
</mat-tree>
