<mat-card>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="bbb.name" [disabled]="!canEdit" required />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Tag Line</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.tagline"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>About Us Text</mat-label>
      <textarea
        matInput
        [(ngModel)]="bbb.aboutUsText"
        [disabled]="!canEdit"
        rows="3"
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Charity Profile Source</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.charityProfileSource"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Google Analytics ID</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.googleAnalyticsId"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Vendor</mat-label>
      <mat-select [(ngModel)]="bbb.vendor" [disabled]="!canEdit">
        <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{
          vendor
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Vendor Host Header</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.vendorHostHeader"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Primary Country</mat-label>
      <mat-select [(ngModel)]="bbb.primaryCountry" [disabled]="!canEdit">
        <mat-option *ngFor="let country of countries" [value]="country.value">{{
          country.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>Primary Language</mat-label>
      <mat-select [(ngModel)]="bbb.primaryLanguage" [disabled]="!canEdit">
        <mat-option
          *ngFor="let language of languages"
          [value]="language.value"
          >{{ language.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>All Languages Supported (comma delimited list)</mat-label>
      <textarea
        matInput
        [(ngModel)]="bbb.languages"
        [disabled]="!canEdit"
        rows="3"
      ></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Events Page Layout</mat-label>
      <mat-select
        [(ngModel)]="bbb.eventsPageLayout"
        [disabled]="!canEdit"
        required
      >
        <mat-option
          *ngFor="let layout of eventLayouts"
          [value]="layout.value"
          >{{ layout.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="edit-field" *ngIf="isSystemAdmin">
      <mat-checkbox [(ngModel)]="bbb.headerFooterFlag" [disabled]="!canEdit">
        Header/Footer Enabled
      </mat-checkbox>
    </div>
    <div class="edit-field" *ngIf="isSystemAdmin">
      <mat-checkbox
        [(ngModel)]="bbb.allowVendorUriAliases"
        [disabled]="!canEdit"
      >
        Allow URI Aliases For Vendor Content
      </mat-checkbox>
    </div>
    <div class="edit-field" *ngIf="isSystemAdmin">
      <mat-checkbox [(ngModel)]="bbb.gatewayEnabled" [disabled]="!canEdit">
        Gateway Enabled
      </mat-checkbox>
    </div>
    <div class="edit-field">
      <mat-checkbox [(ngModel)]="bbb.raqEnabled" [disabled]="!canEdit">
        RAQ Enabled
      </mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Popular Categories</mat-card-title>
  <mat-card-subtitle>
    Please select 10 TOBs to display on your geo-landing page.
  </mat-card-subtitle>
  <mat-card-content>
    <bbb-category-autocomplete
      [primaryCountry]="bbb.primaryCountry"
      [(selected)]="bbb.popularCategories"
    ></bbb-category-autocomplete>
    <category-drag-drop-tree
      [(categories)]="bbb.popularCategories"
    ></category-drag-drop-tree>
  </mat-card-content>
</mat-card>
