@import "~@angular/material/theming";
@import "~ngx-toastr/toastr";
@import "~ng-pick-datetime/assets/style/picker.min.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@include mat-core();

$cms-app-primary: (
  50: #e0ebef,
  100: #b3ced7,
  200: #80adbc,
  300: #4d8ca1,
  400: #26738c,
  500: #005a78,
  600: #005270,
  700: #004865,
  800: #003f5b,
  900: #002e48,
  A100: #7cc5ff,
  A200: #49aeff,
  A400: #1697ff,
  A700: #008bfc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$cms-app-accent: (
  50: #e0ebef,
  100: #b3ced7,
  200: #80adbc,
  300: #4d8ca1,
  400: #26738c,
  500: #005a78,
  600: #005270,
  700: #004865,
  800: #003f5b,
  900: #002e48,
  A100: #7cc5ff,
  A200: #49aeff,
  A400: #1697ff,
  A700: #008bfc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$cms-app-warn: (
  50: #fdf4e3,
  100: #fae3b9,
  200: #f7d08b,
  300: #f4bd5d,
  400: #f1ae3a,
  500: #efa017,
  600: #ed9814,
  700: #eb8e11,
  800: #e8840d,
  900: #e47307,
  A100: #ffffff,
  A200: #ffeada,
  A400: #ffcea7,
  A700: #ffbf8d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$cms-app-theme: mat-light-theme(
  mat-palette($cms-app-primary),
  mat-palette($cms-app-accent),
  mat-palette($cms-app-warn)
);

@include angular-material-theme($cms-app-theme);

body,
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.ng-cloak {
  display: none !important;
}

.mat-card {
  margin: 8px;
}

.mat-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 8px;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  text-transform: uppercase;
}

.mat-dialog-title.title-with-toolbar {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
}

.incognito-button {
  &:hover,
  &:active {
    background-color: inherit !important;
  }

  .mat-button-focus-overlay {
    display: none;
  }
}

.mat-tab-list {
  text-transform: uppercase;
}

.mat-tab-label-active {
  color: #005a78;
  opacity: 1 !important;
}

.mat-tab-link.mat-tab-link {
  min-width: 0;
}

mat-card.warning-card {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;

  .mat-icon + span {
    margin-left: 10px;
  }
}

mat-form-field.edit-field {
  width: 100%;
  &[floatlabel="always"] {
    .mat-form-field-label-wrapper {
      top: -2.2em;
      padding-top: 2.2em;
    }

    .mat-form-field-infix {
      border-top: 2.2em solid transparent;
    }

    .mat-form-field-label {
      color: inherit;
      font-size: 1.8em;
      font-weight: bold;
    }
  }
}

.edit-field {
  &__actions {
    margin-bottom: 1em;
  }
  mat-form-field {
    width: 100%;
    .mat-form-field-infix {
      border-top: 0;
    }
  }

  h5 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.4em;
  }

  & + & {
    margin-top: 1.4em;
  }
}

table.full-width {
  width: 100%;
}

table.selectable {
  tbody tr {
    cursor: pointer;
    transition: background-color 300ms ease;

    &:hover {
      background-color: #fafafa;
    }

    &.selected {
      background-color: #eeeeee;
    }
  }
}

.nested-tree {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.nested-tree-invisible {
  display: none;
}

.mat-nested-tree-node {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.mat-nested-tree-node,
.mat-tree-node {
  user-select: none;
  cursor: move;

  &.cdk-drag-preview {
    // while dragging
    @include mat-elevation(12);
  }

  &.cdk-drag-placeholder {
    // potential drop area
    opacity: 0;
  }

  & + & {
    border-top: 1px solid #eee;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  .mat-tree-node,
  .mat-nested-tree-node {
    &:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-list.content-info-list {
  .mat-list-item {
    height: auto;
    padding: 4px 0;

    .mat-list-item-content {
      color: #777;
      display: block;
      font-size: 14px;
      padding: 0;

      .heading {
        font-weight: bold;
        letter-spacing: 0.4px;
        margin-right: 5px;
        text-transform: uppercase;
      }
    }
  }
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert {
  border: 1px solid;
  border-radius: 16px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 8px;
}

.paginate-footer {
  position: fixed !important;
  bottom: 0;
  z-index: 10;
  right: 0;
  margin-right: 32px;
  margin-bottom: 16px;
}

.layout-fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  padding-right: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.no-data {
  pointer-events: none;
}

.mat-menu-panel {
  max-width: none !important;
}

.mat-menu-item.date-menu-item {
  height: auto;
  max-height: none;
}
