<mat-dialog-content>
  <p [innerHTML]="data.label"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="confirm()">{{ data.confirmLabel }}</button>
</mat-dialog-actions>
