<mat-card>
  <mat-card-title>
    Complaint Qualifying Questions
  </mat-card-title>
  <mat-card-content>
    <section>
      <button
        mat-button
        color="primary"
        (click)="addQuestion()"
        [disabled]="bbb.complaintQualifyingQuestions.length === MAX_QUESTIONS"
      >
        Add Question
      </button>
    </section>
    <complaint-question-drag-drop-tree
      [(questions)]="bbb.complaintQualifyingQuestions"
    ></complaint-question-drag-drop-tree>
  </mat-card-content>
</mat-card>
