<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Event Recurrence</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<mat-dialog-content>
  <h6>Time of Event</h6>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput [owlDateTime]="dtStart" [owlDateTimeTrigger]="dtStart" [(ngModel)]="data.eventRecurrence.startTime" />
      <owl-date-time #dtStart pickerType="timer"></owl-date-time>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput [owlDateTime]="dtEnd" [owlDateTimeTrigger]="dtEnd" [(ngModel)]="data.eventRecurrence.endTime" />
      <owl-date-time #dtEnd pickerType="timer"></owl-date-time>
    </mat-form-field>
  </div>
  <hr />
  <mat-form-field>
    <mat-label>Recurrence Type</mat-label>
    <mat-select [(ngModel)]="data.eventRecurrence.recurrenceType">
      <mat-option *ngFor="let type of types" [value]="type.value">{{ type.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <section *ngIf="data.eventRecurrence.recurrenceType === 1">
    <div fxLayout="row">
      <mat-radio-group [(ngModel)]="data.eventRecurrence.dailyType" fxLayout="column">
        <mat-radio-button value="0">
          <span>Every</span>
          &nbsp;
          <input
            type="number"
            [(ngModel)]="data.eventRecurrence.interval"
            [disabled]="data.eventRecurrence.dailyType != 0"
            style="width:60px"
            min="1"
            max="20"
          />
          &nbsp;
          <span>day(s)</span>
        </mat-radio-button>
        <mat-radio-button value="1">Every Weekday</mat-radio-button>
      </mat-radio-group>
    </div>
  </section>
  <section *ngIf="data.eventRecurrence.recurrenceType === 2">
    <div>
      <span>Recur every</span>
      &nbsp;
      <input type="number" [(ngModel)]="data.eventRecurrence.interval" style="width:60px" />
      &nbsp;
      <span>week(s) on:</span>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-checkbox [(ngModel)]="data.eventRecurrence.sunday">Sunday</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.eventRecurrence.monday">Monday</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.eventRecurrence.tuesday">Tuesday</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.eventRecurrence.wednesday">Wednesday</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-checkbox [(ngModel)]="data.eventRecurrence.thursday">Thursday</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.eventRecurrence.friday">Friday</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.eventRecurrence.saturday">Saturday</mat-checkbox>
    </div>
  </section>
  <section *ngIf="data.eventRecurrence.recurrenceType === 3">
    <span>Day</span>
    &nbsp;
    <input type="number" [(ngModel)]="data.eventRecurrence.dayOfMonth" style="width:60px" min="1" max="31" />
    &nbsp;
    <span>of every</span>
    &nbsp;
    <input type="number" [(ngModel)]="data.eventRecurrence.interval" style="width:60px" min="1" max="24" />
    &nbsp;
    <span>month(s).</span>
  </section>
  <section *ngIf="data.eventRecurrence.recurrenceType === 4">
    <span>The</span>
    &nbsp;
    <mat-select [(ngModel)]="data.eventRecurrence.instance" style="width: 100px">
      <mat-option *ngFor="let instance of instances" [value]="instance.value">{{ instance.label }}</mat-option>
    </mat-select>
    &nbsp;
    <mat-select [(ngModel)]="data.eventRecurrence.dayOfWeek" style="width:120px">
      <mat-option *ngFor="let day of days" [value]="day">{{ day }}</mat-option>
    </mat-select>
    &nbsp;
    <span>of every</span>
    &nbsp;
    <input type="number" [(ngModel)]="data.eventRecurrence.interval" style="width:60px" min="1" max="24" />
    &nbsp;
    <span>month(s).</span>
  </section>
  <hr />
  <h6>Date Range</h6>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput [(ngModel)]="data.eventRecurrence.startDate" [matDatepicker]="startPicker" placeholder="Start Date" />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.eventRecurrence.endDate" [matDatepicker]="endPicker" placeholder="End Date" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="accent" (click)="update()">Save</button>
</mat-dialog-actions>
