﻿<bbb-picker
  title="Event BBB"
  placeholder="Select a BBB to set on Event"
  selectedBbbName="{{ content?.eventBbb?.bbbName }}"
  (onAdded)="updateContentEventBbb($event)"
  [enabled]="content.canEdit"
  itemLimit="1"
></bbb-picker>
<mat-card>
  <mat-card-title>Event Dates</mat-card-title>
  <mat-card-content>
    <mat-form-field class="edit-field">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [owlDateTime]="dtStart"
        [owlDateTimeTrigger]="dtStart"
        [(ngModel)]="event.startDate"
        [disabled]="!content.canEdit || event.hasRecurrence"
      />
      <owl-date-time #dtStart></owl-date-time>
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [owlDateTime]="dtEnd"
        [owlDateTimeTrigger]="dtEnd"
        [(ngModel)]="event.endDate"
        [disabled]="!content.canEdit || event.hasRecurrence"
      />
      <owl-date-time #dtEnd></owl-date-time>
    </mat-form-field>
    <hr />
    <button mat-button color="accent" (click)="addEditEventRecurrence()">
      {{ event.hasRecurrence ? 'Edit Recurrence' : 'Create Recurrence' }}
    </button>
    <button mat-button (click)="deleteRecurrence()" [disabled]="!event.hasRecurrence">
      Remove Recurrence
    </button>
    <hr />
    <section [hidden]="!event.hasRecurrence">
      <h6>Occurrences</h6>
      <button
        mat-button
        color="accent"
        (click)="deleteOccurrence()"
        [disabled]="selectedOccurrence.selected.length === 0"
      >
        Delete Occurence
      </button>
      <table
        mat-table
        matSort
        [dataSource]="occurrencesDataSource"
        [hidden]="content.occurrences.length === 0"
        class="full-width selectable"
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selectedOccurrence.toggle(row) : null"
              [checked]="selectedOccurrence.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let element">{{ element.startDate | date: 'MM-dd-yyyy hh:mm a' }}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.endDate | date: 'MM-dd-yyyy hh:mm a' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedOccurrenceColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedOccurrenceColumns"
          (click)="selectedOccurrence.toggle(row)"
          [ngClass]="selectedOccurrence.isSelected(row) ? 'selected' : ''"
        ></tr>
      </table>

      <mat-paginator [length]="content.occurrences.length" [pageSize]="5"> </mat-paginator>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Event Information</mat-card-title>
  <mat-card-content>
    <mat-form-field class="edit-field">
      <mat-label>Registration Link</mat-label>
      <input matInput [(ngModel)]="event.registrationLink" [disabled]="!content.canEdit" />
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Event Location Address Map</mat-card-title>
  <mat-card-content>
    <div>
      <mat-checkbox [(ngModel)]="event.isVirtualEvent">Is virtual event</mat-checkbox>
    </div>
    <div [hidden]="event.isVirtualEvent">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="70%">
          <mat-label>Location Name</mat-label>
          <input matInput [(ngModel)]="event.locationName" [disabled]="!content.canEdit" />
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Country</mat-label>
          <mat-select [(ngModel)]="event.country">
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="70%">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="event.addressLine" [disabled]="!content.canEdit" />
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Address 2</mat-label>
          <input matInput [(ngModel)]="event.addressLine2" [disabled]="!content.canEdit" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="event.city" [disabled]="!content.canEdit" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>State</mat-label>
          <input matInput [(ngModel)]="event.state" [disabled]="!content.canEdit" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Postal Code</mat-label>
          <input matInput #zipInput [(ngModel)]="event.postalCode" [disabled]="!content.canEdit" maxLength="10" />
          <mat-hint align="end">{{ zipInput.value?.length || 0 }}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
