<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    Search Media
  </mat-toolbar>
</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <section fxLayout="row wrap">
        <mat-form-field fxFlex="100%">
          <input type="text" placeholder="Search images by file name or tag" [formControl]="ctrl" matInput />
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>
  <section fxLayout="row wrap">
    <article fxFlex="50%" *ngFor="let image of images | async">
      <mat-card>
        <mat-card-title>{{ image.title }}</mat-card-title>
        <img mat-card-image [src]="image.uri" />
        <mat-card-actions>
          <button mat-button (click)="add(image)">Add Image</button>
        </mat-card-actions>
      </mat-card>
    </article>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
