<mat-card>
  <mat-card-title>SEC Terms</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="refreshTerms()">
      <div *ngIf="cardSearchObs | async">
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50%">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="filters.name" name="name" />
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <mat-label>TOB ID</mat-label>
            <input matInput [(ngModel)]="filters.tobId" name="tobId" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50%">
            <mat-label>URL Segment</mat-label>
            <input
              matInput
              [(ngModel)]="filters.urlSegment"
              name="urlSegment"
            />
          </mat-form-field>
          <div fxFlex="50%">
            <mat-radio-group
              [(ngModel)]="filters.isActive"
              name="isActive"
              aria-label="Select a status"
              fxLayout="row"
              fxLayoutGap="15px"
            >
              <mat-radio-button value="1">Live</mat-radio-button>
              <mat-radio-button value="0">Draft</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <button mat-button type="submit" *ngIf="cardSearchObs | async">
          Search
        </button>
        <button mat-button (click)="toggleSearch()">
          <mat-icon *ngIf="!(cardSearchObs | async)">search</mat-icon>
          <mat-icon *ngIf="cardSearchObs | async">close</mat-icon>
        </button>
        <span *ngIf="totalPages > 1">
          <button
            mat-button
            (click)="updatePage(filters.currentPage + 1)"
            [disabled]="filters.currentPage == 1"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button
            mat-button
            (click)="updatePage(filters.currentPage - 1)"
            [disabled]="filters.currentPage == totalPages"
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
          <span fxFlex="auto"></span>
          <strong style="padding-top: 7px;">
            {{ resultsOnPage }} results in page {{ filters.currentPage }} /
            {{ totalPages }} for
            {{ totalResults }}
            records
          </strong>
        </span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let term of secTerms">
  <mat-card-title>
    {{ term.name | truncate: 70 }}
  </mat-card-title>
  <mat-card-content>
    <mat-list class="content-info-list">
      <mat-list-item>
        <span
          class="heading"
          [ngStyle]="{ color: term.isActive ? 'green' : 'orange' }"
        >
          {{ term.isActive ? "Published" : "Draft" }}
        </span>
        <span>{{ term.modifiedDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-button
      color="accent"
      href="/#/admin/editSecTerm?tobId={{ term.tobId }}"
    >
      Edit
    </a>
    <button
      mat-button
      color="primary"
      click="publish(term)"
      *ngIf="!term.isActive"
    >
      Publish
    </button>
    <button
      mat-button
      color="warn"
      click="unpublish(term)"
      *ngIf="term.isActive"
      [disabled]="!term.isEditable"
    >
      Unpublish
    </button>
  </mat-card-actions>
</mat-card>
<floating-footer-pagination
  [totalPages]="totalPages"
  [resultCount]="totalResults"
  [currentPage]="filters.currentPage"
  [resultsOnPage]="resultsOnPage"
  (updatePage)="updatePage($event)"
></floating-footer-pagination>
