﻿<button
  mat-icon-button
  [matMenuTriggerFor]="filterMenu"
  aria-label="Filter column"
  (click)="$event.stopPropagation()"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #filterMenu="matMenu" class="filter-menu">
  <span (click)="$event.stopPropagation()">
    Show items with value that:
  </span>
  <form [formGroup]="filterForm" (click)="$event.stopPropagation()">
    <mat-form-field>
      <mat-select formControlName="typeCtrl">
        <mat-option *ngFor="let type of filterTypes" [value]="type.key">
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="keyword-input-container">
      <input matInput formControlName="keywordCtrl" placeholder="Keyword" />
    </mat-form-field>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="filterClick()">
          Filter
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button (click)="clearClick()">Clear</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-menu>
