<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Video</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.video.type" name="type" required>
        <mat-option *ngFor="let platform of videoPlatforms" [value]="platform.id">
          {{ platform.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Title</mat-label>
      <input matInput #titleInput [(ngModel)]="data.video.title" name="title" maxlength="50" required />
      <mat-hint align="end">{{ titleInput.value?.length || 0 }}/50</mat-hint>
    </mat-form-field>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Caption</mat-label>
      <input matInput #captionInput [(ngModel)]="data.video.caption" name="caption" maxlength="75" />
      <mat-hint align="end">{{ captionInput.value?.length || 0 }}/75</mat-hint>
    </mat-form-field>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Position</mat-label>
      <input matInput [(ngModel)]="data.video.position" type="number" name="position" min="0" max="10" maxlength="2" />
    </mat-form-field>
    <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>URL</mat-label>
      <input matInput [(ngModel)]="data.video.url" name="url" required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
