<mat-card>
  <mat-card-title>Upload Files</mat-card-title>
  <mat-card-content>
    <file-uploader></file-uploader>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Main Image</mat-card-title>
  <mat-card-content>
    <bbb-carousel
      [canEdit]="content.canEdit"
      [contentCode]="content.code"
      [(datasource)]="mainImage"
      [single]="true"
      (update)="update()"
    ></bbb-carousel>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="content.layout.indexOf('Image-Carousel') > -1">
  <mat-card-title>Carousel* </mat-card-title>
  <mat-card-content>
    <bbb-carousel
      [canEdit]="content.canEdit"
      [contentCode]="content.code"
      [(datasource)]="carousel"
      (update)="update()"
    ></bbb-carousel>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="content.layout.indexOf('Video') > -1">
  <mat-card-title>Videos</mat-card-title>
  <mat-card-content>
    <section>
      <button
        mat-button
        color="primary"
        [disabled]="content.videos.length >= 10"
        (click)="addEditVideo(true)"
      >
        Add
      </button>
      <button
        *ngIf="content.canEdit"
        mat-button
        color="primary"
        [disabled]="selectedVideo.selected.length === 0"
        (click)="addEditVideo(false)"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="selectedVideo.selected.length === 0"
        (click)="deleteVideo()"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="videoDataSource"
      [hidden]="content.videos.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedVideo.toggle(row) : null"
            [checked]="selectedVideo.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="caption">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Caption</th>
        <td mat-cell *matCellDef="let element">{{ element.caption }}</td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedVideoColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedVideoColumns"
        (click)="selectedVideo.toggle(row)"
        [ngClass]="selectedVideo.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
