﻿<mat-card class="card-login">
  <mat-toolbar>
    <span>CoreCMS</span>
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <section class="login-form-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Login"
            formControlName="email"
            autofocus
          />
          <mat-error
            *ngIf="
              loginForm.get('email').hasError('email') &&
              !loginForm.get('email').hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')"
          >Email is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
          />
          <mat-error *ngIf="loginForm.get('password').hasError('required')"
          >Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </section>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid">
        Login
      </button>
      <p>
        <a  href="#/login/forgot-password">Forgot Password?</a>
      </p>


      <h4 class="error-message">{{ authMessage }}</h4>
    </form>
  </mat-card-content>
</mat-card>

