<h1 mat-dialog-title>Select country</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Countries*</mat-label>
    <mat-select [(ngModel)]="data.countries" multiple>
      <mat-option *ngFor="let country of countryList" [value]="country">{{
        country
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.countries" cdkFocusInitial>
    Add
  </button>
</div>