.mat-card-actions {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.mat-card {
  padding-bottom: 4px;
}

.mat-list-base {
  padding-top: 0px;
}

.content-status {
  padding-bottom: 8px !important;
}

.bold {
  font-weight: bold;
}

.mat-card-title {
  padding-top: 5px;
}

.content-title {
  font-size: 20px;
  color: #282828;
}

.article-number {
  color: #5f5f5f;
  font-size: 14px;
}

.add-my-newsfeed-button {
  text-decoration: underline;
  color: #40668c;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.margin-right-5px {
  margin-right: 5px;
}
