<card-search
  #cardSearch
  [(results)]="content"
  [filterBy]="activeLink"
></card-search>
<mat-card *ngFor="let item of content">
  <span class="article-number">#{{ item.id }}</span>
  <mat-card-title fxLayout="row" style="margin-bottom: 0px;">
    <div fxFlex="auto" class="content-title">
      {{ item.title | truncate: 70 }}
    </div>
    <div *ngIf="item.isCheckedOut" class="alert alert-warning">
      Checked out by {{ item.checkoutBy }}
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-list class="content-info-list">
      <mat-list-item class="content-status">
        <span class="heading" [ngStyle]="{ color: getColor(item.status) }">
          {{ item.status }}
        </span>
        <span>{{ item.publishDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
      </mat-list-item>
      <mat-list-item>
        <span class="heading">Created By:</span>
        <span>{{ item.createdBy }}</span>
      </mat-list-item>
      <mat-list-item>
        <span class="heading">Type:</span>
        <span>{{ item.type }}</span>
      </mat-list-item>
      <mat-list-item *ngIf="item.tags && item.tags.length > 0">
        <span class="heading">Tags:</span>
        <span
          class="label label-default inline margin-right-5px"
          *ngFor="let tag of item.tags"
        >
          {{ tag }}
        </span>
      </mat-list-item>
      <mat-list-item *ngIf="item.countries && item.countries.length > 0">
        <span class="heading">Countries:</span>
        <span
          class="label label-default inline"
          style="margin-right: 5px;"
          *ngFor="let location of item.countries"
        >
          {{ location.locationId }}
        </span>
      </mat-list-item>
      <mat-list-item *ngIf="item.states && item.states.length > 0">
        <span class="heading">States:</span>
        <span
          class="label label-default inline margin-right-5px"
          *ngFor="let location of item.states"
        >
          {{ location.locationId }}
        </span>
      </mat-list-item>
      <mat-list-item *ngIf="item.cities && item.cities.length > 0">
        <span class="heading">Cities:</span>
        <span
          class="label label-default inline margin-right-5px"
          *ngFor="let location of item.cities"
        >
          {{ location.id || location }}
        </span>
      </mat-list-item>
      <mat-list-item *ngIf="item.serviceArea && item.serviceArea.length > 0">
        <span class="heading">Service Area:</span>
        <span
          class="label label-default inline margin-right-5px"
          *ngFor="let sa of item.serviceArea"
        >
          {{ sa.locationId }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span class="heading">Expires:</span>
        <span>{{ item.expirationDate | date: "MM/dd/yyyy 'at' h:mma" }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card-actions fxFlex="auto">
      <button
        mat-button
        color="accent"
        *ngIf="activeLink === 'Checked Out'"
        (click)="checkIn(item)"
        class="bold"
      >
        Check In
      </button>
      <a
        mat-button
        color="accent"
        href="#/content/create?contentCode={{ item.code }}"
        [target]="linkTarget"
        class="bold"
      >
        View
      </a>
      <a
        mat-button
        [href]="getPreviewUrl(item.code)"
        target="_blank"
        class="bold"
        >Preview</a
      >
      <button
        mat-button
        color="warn"
        (click)="showConfirmDelete(item.id)"
        *ngIf="item.canEdit || isAdmin"
        class="bold"
      >
        Delete
      </button>
      <button
        mat-button
        color="warn"
        class="bold"
        (click)="showConfirmUnpublish(item)"
        *ngIf="
          item.canEdit &&
          (item.status === 'published' || item.status === 'pending_review')
        "
      >
        Unpublish
      </button>
    </mat-card-actions>
    <mat-card-actions
      fxFlex="230px"
      *ngIf="item.status === 'published' && !item.isInMyNewsfeed && isAdmin"
    >
      <a
        mat-button
        color="accent"
        (click)="addToCountryNewsfeed(item)"
        [target]="linkTarget"
        class="add-my-newsfeed-button"
      >
        Add to country level feed
      </a>
    </mat-card-actions>
    <mat-card-actions
      fxFlex="180px"
      *ngIf="item.status === 'published' && !item.isInMyNewsfeed"
    >
      <a
        mat-button
        color="accent"
        (click)="addToMyNewsfeed(item)"
        [target]="linkTarget"
        class="add-my-newsfeed-button"
      >
        Add to my news feed
      </a>
    </mat-card-actions>
    <mat-card-actions
      fxFlex="230px"
      *ngIf="item.status === 'published' && item.isInMyNewsfeed"
    >
      <a
        mat-button
        color="accent"
        (click)="deleteFromMyNewsfeed(item)"
        [target]="linkTarget"
        class="add-my-newsfeed-button"
      >
        Delete from my news feed
      </a>
    </mat-card-actions>
  </div>
</mat-card>
