<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Image</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<mat-dialog-content>
  <section fxLayout="row wrap">
    <mat-form-field fxFlex="100%">
      <input matInput placeholder="Title" [(ngModel)]="data.image.imageTitle" />
    </mat-form-field>
    <mat-form-field fxFlex="100%">
      <input matInput placeholder="Caption" [(ngModel)]="data.image.imageCaption" />
    </mat-form-field>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>
    Cancel
  </button>
  <button mat-button color="accent" (click)="update()">
    Save
  </button>
</mat-dialog-actions>
