<section fxLayout="row wrap" *ngIf="datasource && datasource.length > 0">
  <article fxFlex="50%" *ngFor="let image of datasource">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{ truncate(image.title, 30) }}</mat-card-title>
        <mat-card-subtitle *ngIf="image.imageTitle">Title: {{ image.imageTitle }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="image.imageCaption">Caption: {{ image.imageCaption }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="image.order">Order of appearance: {{ image.order }}</mat-card-subtitle>
        <img mat-card-sm-image [src]="image.url" />
      </mat-card-title-group>
      <mat-card-actions align="end">
        <button mat-button (click)="moveLeft(image.order)" [disabled]="image.order === 1 || isSaving" *ngIf="!single && canEdit">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-button (click)="moveRight(image.order)" [disabled]="image.order === datasource.length || isSaving" *ngIf="!single && canEdit">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button mat-button type="button" color="accent" (click)="editItem(image)" [disabled]="isSaving" *ngIf="!hideEdit">Edit</button>
        <button mat-button type="button" (click)="removeItem(image.id)" [disabled]="isSaving" *ngIf="canEdit">Remove</button>
      </mat-card-actions>
    </mat-card>
  </article>
</section>
<button mat-raised-button type="button" color="primary" (click)="addItem()" *ngIf="!(single && datasource.length === 1)">
  Add From Library
</button>
