<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of links"
    (click)="activeLink = link"
    [active]="activeLink === link"
  >
    {{ link }}
  </a>
</nav>
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="accent" (click)="saveProfile()">
      Save
    </button>
  </mat-card-content>
</mat-card>
<div *ngIf="activeLink === 'Basic Settings'">
  <bbb-picker
    title="Default Site"
    placeholder="Set your default BBB"
    [selectedBbbName]="defaultSite.bbbName"
    (onAdded)="setDefaultSite($event)"
    [enabled]="true"
  ></bbb-picker>
  <mat-card>
    <mat-card-content>
      <h5><strong>Country</strong></h5>
      <div>
        <mat-form-field fxFlex="auto">
          <input
            type="text"
            matInput
            [formControl]="countryCtrl"
            [matAutocomplete]="countryAuto"
            placeholder="Select your country"
          />
          <button
            mat-button
            *ngIf="!!countryCtrl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="countryCtrl.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-autocomplete
          #countryAuto="matAutocomplete"
          (optionSelected)="selectCountry($event.option.value)"
        >
          <mat-option
            *ngFor="let suggestion of filteredCountries | async"
            [value]="suggestion"
          >
            <span
              [innerHTML]="suggestion | highlight: toHighlightCountry"
            ></span>
          </mat-option>
        </mat-autocomplete>
      </div>
      <h5 style="margin-top: 10px;">
        <strong>Culture</strong>
      </h5>
      <div>
        <mat-form-field fxFlex="auto">
          <input
            type="text"
            matInput
            [formControl]="cultureCtrl"
            [matAutocomplete]="cultureAuto"
            placeholder="Select your culture"
          />
          <button
            mat-button
            *ngIf="!!cultureCtrl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="cultureCtrl.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-autocomplete
          #cultureAuto="matAutocomplete"
          (optionSelected)="selectCulture($event.option.value)"
        >
          <mat-option
            *ngFor="let suggestion of filteredCultures | async"
            [value]="suggestion"
          >
            <span
              [innerHTML]="suggestion | highlight: toHighlightCulture"
            ></span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>User Settings</mat-card-title>
    <mat-card-content>
      <mat-checkbox [(ngModel)]="userProfile.openContentInNewTab">
        Open content in new tab
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
  <card-topic-picker
    [(selectedTopics)]="selectedTopics"
    [(pinnedTopic)]="userProfile.pinnedTopic"
    (onPinAdd)="pinTopic($event)"
    (onAdded)="addTopic()"
    (onRemoved)="removeTopic($event)"
    topicsLabel="Default User Topics"
    [canRemove]="true"
  ></card-topic-picker>
</div>
<div *ngIf="activeLink === 'Security'">
  <mat-card>
    <mat-card-content>
      <mat-checkbox [(ngModel)]="userProfile.twoFactorAuthEnabled">
        Two-Factor Authentication Enabled
      </mat-checkbox>
      <div *ngIf="userProfile.phoneNumberVerified" style="margin-top: 10px">
        SMS authentication is configured for
        {{ userProfile.displayPhoneNumber }}
      </div>
      <div style="margin-top: 10px">
        <button
          mat-button
          color="primary"
          *ngIf="!userProfile.phoneNumberVerified"
          (click)="verifyAddPhoneNumber()"
        >
          Add SMS Authentication
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="userProfile.phoneNumberVerified"
          (click)="verifyAddPhoneNumber()"
        >
          Update SMS Authentication
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="userProfile.phoneNumberVerified"
          (click)="deletePhoneNumber()"
        >
          Delete SMS Authentication
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
