<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Verify Phone Number</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<mat-dialog-content>
  <div *ngIf="!verifying">
    <p><strong>Enter a phone number to configure SMS authentication.</strong></p>
    <p>*Standard SMS charges may apply.</p>
    <div>
      <mat-form-field fxFlex="auto">
        <input matInput [(ngModel)]="phoneNumber" placeholder="Phone Number" />
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="verifying">
    <p><strong>A code has been sent to your device. Please enter it below.</strong></p>
    <div>
      <mat-form-field fxFlex="auto">
        <input matInput [(ngModel)]="verificationCode" placeholder="Verification Code" />
      </mat-form-field>
    </div>
  </div>
  <p>
    <strong>{{ verificationError }}</strong>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="accent" *ngIf="!verifying" (click)="verify()">
    Verify
  </button>
  <button mat-button color="accent" *ngIf="verifying" (click)="update()">
    Save
  </button>
  <button mat-button color="accent" *ngIf="verifying" (click)="verify()">
    Resend Code
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
