<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Edit Image</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.image.title" name="title" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Caption</mat-label>
      <input matInput [(ngModel)]="data.image.caption" name="caption" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Photo Credit</mat-label>
      <input matInput [(ngModel)]="data.image.credit" name="credit" required />
    </mat-form-field>
    <div class="edit-field">
      <mat-radio-group
        aria-label="Select a tag type"
        [(ngModel)]="tagFilter"
        name="filterType"
        fxLayout="row"
        fxLayoutGap="15px"
      >
        <mat-radio-button
          *ngFor="let filter of tagFilters"
          [value]="filter.value"
        >
          {{ filter.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field class="edit-field">
      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of data.image.tagItems"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTag(tag)"
        >
          <span>
            <strong>{{ tag.name }}</strong>
            <em>({{ tag.type }})</em>
          </span>
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          #tagsInput
          placeholder="Tags"
          [formControl]="acCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event.value)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectedTag($event.option.value)"
      >
        <mat-option
          *ngFor="let tag of filtered | async"
          [value]="tag"
          [hidden]="isNotFound"
        >
          <span
            [innerHTML]="tag.label | highlight: highlightedInputValue"
          ></span>
        </mat-option>
        <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
          {{ notFoundMessage }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="edit-field">
      <mat-checkbox [(ngModel)]="data.image.published" name="published">
        Published?
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
