<image-search #imageSearchComponent [(searchResults)]="images" filterBy="drafts"></image-search>
<div fxLayout="row wrap">
  <div fxFlex="25%" *ngFor="let image of images">
    <mat-card>
      <img [src]="image.uri" style="height: 200px;" mat-card-image />
      <mat-card-title>{{ image.title | truncate: 20 }}</mat-card-title>
      <mat-card-subtitle *ngIf="image.fileSizeKb && image.fileSizeKb > 0">
        {{ image.fileSizeKb }} KB
      </mat-card-subtitle>
      <mat-card-content>
        <div class="alert alert-success" *ngIf="image.published" style="margin-bottom: 15px;">
          Published <i class="fa fa-check"></i>
        </div>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of image.tagItems">
            <span>
              <strong>{{ tag.name }}</strong>
              <em>({{ tag.type }})</em>
            </span>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="accent" (click)="editImage(image)">Edit</button>
        <button mat-button color="warn" (click)="deleteImageByCode(image.code)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div style="height: 80px"></div>
