<navigation [links]="links" [(activeLink)]="activeLink"></navigation>
<manage-generic-tab
  *ngIf="activeLink !== 'Custom' && activeLink !== 'News Feed'"
  [activeLink]="activeLink"
  style="width: 100%;"
></manage-generic-tab>
<manage-custom-tab *ngIf="activeLink === 'Custom'"></manage-custom-tab>
<manage-list-children-tab *ngIf="activeLink === 'News Feed'"></manage-list-children-tab>
