@import '~@angular/material/theming';

@include mat-core();

$cms-app-primary: mat-palette($mat-indigo);
$cms-app-accent: mat-palette($mat-pink, A200, A100, A400);
$cms-app-warn: mat-palette($mat-red);
$cms-app-theme: mat-light-theme($cms-app-primary, $cms-app-accent, $cms-app-warn);

@include angular-material-theme($cms-app-theme);