<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Edit Person</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.person.title" name="title" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="data.person.firstName" name="firstName" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="data.person.lastName" name="lastName" required />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Priority</mat-label>
      <input
        type="number"
        matInput
        [(ngModel)]="data.person.priority"
        name="priority"
        min="1"
        max="99"
        maxlength="2"
      />
    </mat-form-field>
    <div class="edit-field">
      <label>Image URL</label>
      <div class="image-url">
        <bbb-carousel
          [canEdit]="true"
          [(datasource)]="image"
          [single]="true"
          [hideEdit]="true"
          (overrideUpdate)="imageChange($event)"
          (overrideRemove)="imageDelete($event)"
        ></bbb-carousel>
      </div>
    </div>
    <mat-form-field class="edit-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.person.email" name="email" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="data.person.phone" name="phone" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Board member's business name</mat-label>
      <input matInput [(ngModel)]="data.person.businessName" name="businessName" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Accredited since XX</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.person.accreditedDate" name="accreditedDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
