<navigation [links]="links" [(activeLink)]="activeLink"></navigation>
<est-sec-term-info [(secTerm)]="secTerm"></est-sec-term-info>
<est-general-tab *ngIf="activeLink === 'General'" [secTerm]="secTerm" (refresh)="refresh()"></est-general-tab>
<est-metadata-tab *ngIf="activeLink === 'Metadata'" [(secTerm)]="secTerm"></est-metadata-tab>
<est-metadata-business-tab
  *ngIf="activeLink === 'Business Profile SEO'"
  [(secTerm)]="secTerm"
></est-metadata-business-tab>
