<mat-card>
  <mat-card-content>
    <mat-form-field floatLabel="always" class="edit-field" *ngIf="content.type !== 'Near Me'">
      <mat-label>Author*</mat-label>
      <mat-select  [disabled]="!content.canEdit || !isAdmin" [(ngModel)]="content.bbbAuthor">
          <mat-option *ngFor="let opt of content.availableAuthors" [value]="opt.id">
            {{opt.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Meta Description</mat-label>
      <input
        matInput
        #metaDescInput
        [(ngModel)]="content.metaDescription"
        maxlength="255"
        [disabled]="!content.canEdit || content.type === 'AB List'"
        required
      />
      <mat-hint align="end">{{ metaDescInput.value?.length || 0 }}/255</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Page Title</mat-label>
      <input
        matInput
        #pageTitleInput
        [(ngModel)]="content.pageTitle"
        maxlength="100"
        [disabled]="!content.canEdit || content.type === 'AB List'"
        required
      />
      <mat-hint align="end">{{ pageTitleInput.value?.length || 0 }}/100</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Mobile Headline</mat-label>
      <input matInput #mobileHeadlineInput [(ngModel)]="content.mobileHeadline" maxlength="100" [disabled]="!content.canEdit" required />
      <mat-hint align="end">{{ mobileHeadlineInput.value?.length || 0 }}/100</mat-hint>
    </mat-form-field>
    <div class="edit-field" *ngIf="content.type !== 'Near Me'">
      <mat-checkbox [(ngModel)]="content.noIndex" [disabled]="!content.canEdit">
        No Index
      </mat-checkbox>
    </div>
    <div class="edit-field">
      <h5>
        <span>Article URL *</span>
        <copy-button [text]="content.articleUrl.full"></copy-button>
      </h5>
      <mat-form-field>
        <input matInput [(ngModel)]="content.articleUrl.segment" [disabled]="!content.canEdit || !isAdmin" required />
        <span matPrefix>{{ content.articleUrl.prefix }}</span>
      </mat-form-field>
    </div>
    <mat-form-field floatLabel="always" class="edit-field" *ngIf="content.type === 'Near Me'">
      <mat-label>Custom Article Link</mat-label>
      <input matInput [(ngModel)]="content.articleUrlCustom" [disabled]="!content.canEdit" />
    </mat-form-field>
    <div class="edit-field" *ngIf="isAdmin">
      <h5>Canonical URL</h5>
      <mat-checkbox [(ngModel)]="content.hasSeoCanonical" [disabled]="!content.canEdit">
        Checking this box and filling out the field below will create a new rel=canonical tag for this article.
      </mat-checkbox>
    </div>
    <mat-form-field class="edit-field" floatLabel="never" *ngIf="content.hasSeoCanonical">
      <input matInput [(ngModel)]="content.seoCanonical" placeholder="SEO Canonical URL" required />
    </mat-form-field>
    <input type="hidden" [(ngModel)]="content.priority" />
    <!-- <mat-form-field class="edit-field" floatLabel="always">
      <mat-label>Priority</mat-label>
      <input matInput [(ngModel)]="content.priority" type="number" maxlength="2" [disabled]="!content.canEdit" required />
    </mat-form-field> -->
    <div class="edit-field" *ngIf="isAdmin">
      <h5>Redirect</h5>
      <mat-checkbox [(ngModel)]="content.hasRedirectUrl" [disabled]="!content.canEdit">
        Checking this box and filling out the field below will result in this article redirecting to another and will eventually remove it from Google
        search.
      </mat-checkbox>
    </div>
    <mat-form-field class="edit-field" floatLabel="never" *ngIf="content.hasRedirectUrl">
      <input matInput [(ngModel)]="content.redirectUrl" placeholder="Article Redirect Destination URL" required />
    </mat-form-field>
  </mat-card-content>
</mat-card>
