﻿<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex="50%">
        <mat-card>
          <img
            mat-card-image
            [src]="file.uri"
            style="width: 100%; height: 200px;"
            *ngIf="!!file.uri"
          />
          <mat-card-title>{{
            file.uri ? file.title : "No Image Set"
          }}</mat-card-title>
          <mat-card-actions align="end">
            <image-picker
              [editable]="editable"
              [(file)]="file"
              (change)="change.emit($event)"
            ></image-picker>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
