<mat-card>
  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource" class="full-width">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:400px;">
          <span>Title</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="title"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">
          <a href="/#/content/create?contentCode={{ element.code }}">{{ element.title | truncate: 60 }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Tags</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="topicsAndTags"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.topicsAndTags | truncate: 20 }}</td>
      </ng-container>
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Create Date</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="createDate"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.createDate | date: 'MM-dd-yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Created By</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="createdBy"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.createdBy | truncate: 20 }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Status</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="status"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="geoTags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>GeoTags</span>
          <filter-column
            [(filters)]="tableOptions.filters"
            columnName="geoTags"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.geoTags | truncate: 20 }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  </mat-card-content>
</mat-card>
