<mat-card>
  <mat-card-title> Locations </mat-card-title>
  <mat-card-content>
    <section>
      <button mat-button color="primary" (click)="addLocation()">Add</button>
      <button
        mat-button
        color="primary"
        [disabled]="selectedLocation.selected.length === 0"
        (click)="editLocation()"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="selectedLocation.selected.length === 0"
        (click)="deleteLocation()"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="locationsDataSource"
      [hidden]="bbb.locations.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedLocation.toggle(row) : null"
            [checked]="selectedLocation.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>
      <ng-container matColumnDef="contactEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Email</th>
        <td mat-cell *matCellDef="let element">{{ element.contactEmail }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.addressLine1 }}</td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          State/Province
        </th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>
      <ng-container matColumnDef="zipCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip Code</th>
        <td mat-cell *matCellDef="let element">{{ element.zipCode }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedLocationColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedLocationColumns"
        (click)="selectedLocation.toggle(row)"
        [ngClass]="selectedLocation.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Programs</mat-card-title>
  <mat-card-content>
    <section>
      <button mat-button color="primary" (click)="addProgram()">Add</button>
      <button
        mat-button
        color="primary"
        [disabled]="selectedProgram.selected.length === 0"
        (click)="editProgram()"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="selectedProgram.selected.length === 0"
        (click)="deleteProgram()"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="programsDataSource"
      [hidden]="bbb.programs.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedProgram.toggle(row) : null"
            [checked]="selectedProgram.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="summaryText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Summary Text</th>
        <td mat-cell *matCellDef="let element">{{ element.summaryText }}</td>
      </ng-container>
      <ng-container matColumnDef="linkUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Link URL</th>
        <td mat-cell *matCellDef="let element">{{ element.linkUrl }}</td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Icon</th>
        <td mat-cell *matCellDef="let element">
          <i
            class="fa {{ element.icon }}"
            *ngIf="element.icon && element.icon.startsWith('fa-')"
          ></i>
          <img
            src="/images/programs/{{ element.icon }}.png"
            class="bbb-icon"
            alt="{{ element.icon }}"
            width="14"
            *ngIf="element.icon && !element.icon.startsWith('fa-')"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedProgramColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedProgramColumns"
        (click)="selectedProgram.toggle(row)"
        [ngClass]="selectedProgram.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Social Media</mat-card-title>
  <mat-card-content>
    <section>
      <button mat-button color="primary" (click)="addSocialMedia()">Add</button>
      <button
        mat-button
        color="primary"
        [disabled]="selectedSocialMedia.selected.length === 0"
        (click)="editSocialMedia()"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="selectedSocialMedia.selected.length === 0"
        (click)="deleteSocialMedia()"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="socialMediaDataSource"
      [hidden]="bbb.socialMedia.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedSocialMedia.toggle(row) : null"
            [checked]="selectedSocialMedia.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Icon</th>
        <td mat-cell *matCellDef="let element">
          <i class="fa {{ getSocialMediaIconById(element.id) }}"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedSocialMediaColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedSocialMediaColumns"
        (click)="selectedSocialMedia.toggle(row)"
        [ngClass]="selectedSocialMedia.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title> Additional Resources </mat-card-title>
  <mat-card-content>
    <section>
      <button mat-button color="primary" (click)="addResource()">Add</button>
      <button
        mat-button
        color="primary"
        [disabled]="selectedResource.selected.length === 0"
        (click)="editResource()"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="selectedResource.selected.length === 0"
        (click)="deleteResource()"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="resourcesDataSource"
      [hidden]="bbb.additionalResources.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedResource.toggle(row) : null"
            [checked]="selectedResource.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedResourceColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedResourceColumns"
        (click)="selectedResource.toggle(row)"
        [ngClass]="selectedResource.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
