<mat-card>
  <mat-card-content>
    <mat-form-field
      floatLabel="always"
      class="edit-field"
      *ngIf="isSystemAdmin"
    >
      <mat-label>BBB URL Segment</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.bbbUrlSegment"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>File Complaint URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.fileComplaintUrl"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="edit-field edit-field--fancy-label edit-field--required"
    >
      <mat-label>Apply for Accreditation URL</mat-label>
      <div class="edit-field__actions">
        <mat-checkbox [(ngModel)]="bbb.leadsgenLinkEnabled">
          Add link to BBB.org IABBB leadsgen form
        </mat-checkbox>
      </div>
      <input
        matInput
        [(ngModel)]="bbb.applyForAccreditationUrl"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Join/Apply URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.joinApplyUrl"
        [disabled]="!canEdit"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Business Login URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.businessLoginUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Claim Listing URL</mat-label>
      <input matInput [(ngModel)]="bbb.claimListingUrl" [disabled]="!canEdit" />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Consumer Login URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.consumerLoginUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Newsletter Signup URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.newsLetterSignupUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Submit Review URL</mat-label>
      <input matInput [(ngModel)]="bbb.submitReviewUrl" [disabled]="!canEdit" />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Employment Opportunities URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.employmentOpportunitiesUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Annual Reports URL</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.annualReportsUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Primary URL Alias</mat-label>
      <input
        matInput
        [(ngModel)]="bbb.primaryUrlAlias"
        [disabled]="!canEdit"
      />
    </mat-form-field>
    <mat-form-field floatLabel="always" class="edit-field">
      <mat-label>Base URL </mat-label>
      <input
        matInput
        [(ngModel)]="bbb.baseUrl"
        [disabled]="!canEdit"
      />
    </mat-form-field>
  </mat-card-content>
</mat-card>
