﻿<mat-card>
  <mat-card-title>
    {{ cardTitle }}
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input
        type="text"
        matInput
        [formControl]="acCtrl"
        [matAutocomplete]="auto"
        [matAutocompleteDisabled]="!canRemove"
        placeholder="Keyword/Topic"
      />
      <button
        mat-button
        *ngIf="!!acCtrl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="acCtrl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectTopic($event.option.value)"
    >
      <mat-option
        *ngFor="let suggestion of filtered | async"
        [value]="suggestion"
        [hidden]="isNotFound"
      >
        <span
          [innerHTML]="suggestion | highlight: highlightedInputValue"
        ></span>
      </mat-option>
      <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
        {{ notFoundMessage }}
      </mat-option>
    </mat-autocomplete>
    <div style="height:25px"></div>
    <mat-chip-list aria-label="Selected topics">
      <mat-chip
        *ngFor="let topic of selectedTopics"
        [removable]="canRemove"
        (removed)="onTopicRemoved(topic)"
      >
        <div
          [matMenuTriggerFor]="topicPinMenu"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon *ngIf="isPinned(topic)">room</mat-icon>
          <strong>{{ topic }}</strong>
          <mat-icon matChipRemove *ngIf="canRemove">cancel</mat-icon>
        </div>
        <mat-menu #topicPinMenu="matMenu">
          <button
            mat-menu-item
            [disabled]="isPinned(topic)"
            (click)="pinTopic(topic)"
          >
            Pin Topic
          </button>
        </mat-menu>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
