<mat-card class="alert-warning" *ngIf="!secTerm.isEditable">
  <mat-card-content>
    <h6>
      <i class="fa fa-info-circle"></i>
      &nbsp;
      <strong>This category has already been assigned to a business.</strong>
      &nbsp;
      <span>Certain editing functionality is restricted.</span>
    </h6>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>{{ secTerm.name }}</mat-card-title>
  <mat-card-subtitle>
    Last modified on {{ secTerm.modifiedDate | date: "MM/dd/yyyy 'at' h:mma" }}
  </mat-card-subtitle>
  <mat-card-content>
    <mat-radio-group
      [(ngModel)]="secTerm.isActive"
      [disabled]="!secTerm.isEditable"
      fxLayout="row"
      fxLayoutGap="20px"
    >
      <mat-radio-button [value]="true">Live</mat-radio-button>
      <mat-radio-button [value]="false">Draft</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="update()">Save</button>
  </mat-card-actions>
</mat-card>
