﻿<mat-card>
  <mat-card-title>BBB Sites</mat-card-title>
  <mat-card-content>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-chip-list #siteChipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let bbb of selectedSites"
            [selectable]="selectable"
            [removable]="canRemove"
            (removed)="remove(bbb.bbbName)"
          >
            <span>{{ bbb.bbbName }}</span>
            <mat-icon matChipRemove *ngIf="canRemove">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Select a site"
            [formControl]="acCtrl"
            [matAutocomplete]="siteAuto"
            [matChipInputFor]="siteChipList"
            #siteInput
            [matAutocompleteDisabled]="!canRemove"
          />
        </mat-chip-list>
        <mat-autocomplete
          #siteAuto="matAutocomplete"
          (optionSelected)="select($event)"
        >
          <mat-option
            *ngFor="let bbb of filtered | async"
            [value]="bbb"
            [hidden]="isNotFound"
          >
            <span
              [innerHTML]="bbb.bbbName | highlight: highlightedInputValue"
            ></span>
          </mat-option>
          <mat-option
            *ngIf="isNotFound && inputValue.length > 0"
            class="no-data"
          >
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
