﻿<navigation [links]="links" [(activeLink)]="activeLink"></navigation>
<admin-images-tab *ngIf="activeLink === 'Images'"></admin-images-tab>
<admin-upload-tab *ngIf="activeLink === 'Upload'"></admin-upload-tab>
<admin-sec-terms-tab *ngIf="activeLink === 'SEC Terms'"></admin-sec-terms-tab>
<admin-profile-seo-tab *ngIf="activeLink === 'Profile SEO'"></admin-profile-seo-tab>
<admin-quotes-tab *ngIf="activeLink === 'Quotes'"></admin-quotes-tab>
<admin-baselinePage-tab *ngIf="activeLink === 'Baseline'"></admin-baselinePage-tab>
<admin-users-tab *ngIf="activeLink === 'Users'"></admin-users-tab>