<h2 mat-dialog-title class="title-with-toolbar">
    <mat-toolbar color="primary">
      <span>Add/Edit Baseline Page</span>
      <span fxFlex="1 1 auto"></span>
      <button mat-button mat-dialog-close class="incognito-button" disableRipple>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </h2>
  <form (ngSubmit)="update()" #form="ngForm">
    <mat-dialog-content>
      <mat-form-field class="edit-field">
        <input type="hidden" [(ngModel)]="data.baselinePage.id" name="id" />
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.baselinePage.title" name="title" maxlength="100" required />
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Template</mat-label>
        <input
          matInput
          [formControl]="layoutCtrl"
          [matAutocomplete]="layoutAuto"
          placeholder="Select a template"
          required
        />
        <button
          mat-button
          *ngIf="!!layoutCtrl.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="layoutCtrl.setValue(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete
          #layoutAuto="matAutocomplete"
          (optionSelected)="selectLayout($event.option.value)"
          [displayWith]="displayLayout.bind(this)"
        >
          <mat-option *ngFor="let layout of filteredLayouts | async" [value]="layout">
            <span [innerHTML]="layout.description | highlight: layoutToHighlight"></span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Url</mat-label>
        <input matInput [(ngModel)]="data.baselinePage.urlSegment" #urlSegment="ngModel" id="urlSegment" name="urlSegment" maxlength="100" 
          required uniqueBaselinePageSegmentUrl />
        <mat-error *ngIf="urlSegment.errors?.uniqueBaselinePageSegmentUrl">Url Segment is already exist.</mat-error>
      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Modified Date</mat-label>
        <input
          name="modifiedDate"
          matInput
          [owlDateTime]="dtModified"
          [owlDateTimeTrigger]="dtModified"
          [(ngModel)]="data.baselinePage.modifiedDate"
        />
        <owl-date-time  #dtModified></owl-date-time >
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
    </mat-dialog-actions>
  </form>
  