<div style="height: 80px" *ngIf="totalPages > 1 && !hideSpacer"></div>
<mat-card class="paginate-footer" *ngIf="totalPages > 1">
  <mat-card-content>
    <button mat-button color="accent" (click)="previousPage()" [disabled]="disabled || currentPage == 1">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-button color="accent" (click)="nextPage()" [disabled]="disabled || currentPage == totalPages">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <span flex class="flex"></span>
    <strong style="padding-top: 7px;">
      {{ label }}
    </strong>
  </mat-card-content>
</mat-card>
