.clear-filters-button {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color:#005a78;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 7px;
}

::ng-deep .mat-select-value{    
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 500;
}
.layout-view-label {
    font-weight: bold;
    font-size: 20px;
}

.layout-view-selector-container {
    padding: 16px;
    overflow: hidden;
    padding-bottom: 0;
}

.layout-view-radio {
    margin-right: 12px;
}

.mat-select-panel {
    max-height: 80vh !important;
}

::ng-deep .select-view-container {
    margin-top: -25px;
}
.selected-layout-view {
    left: 100px;
    position: relative;
    width: 150px;
    top: 1px;
    color: gray;
    font-size: 14px;
}

::ng-deep .select-view-container .mat-select-value-text {
    padding-left: 110px;
    padding-top: 5px;
    font-weight: 500;
}

::ng-deep .select-view-container .mat-select-trigger {
    position: relative;
    top: 6px;
}

::ng-deep .select-view-container .mat-autocomplete-trigger.mat-input-element {
    // padding-left: 100px;
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 18px;
}

::ng-deep .select-view-container .mat-form-field-flex {
    padding-left: 100px;
}

.switch-newsfeed {
    margin-left: auto;
}

.switch-cnt {
    justify-content: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    padding-right: 10px;
}