<mat-card>
    <mat-card-content>
      <form>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50%">
            <mat-select
              [(ngModel)]="params.listingType"
              placeholder="Listing Type"
              name="listingType"
              (selectionChange)="listingTypeSelectionChanged()"
              required
            >
              <mat-option
                *ngFor="let type of listingTypes"
                [value]="type.toLowerCase()"
              >
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <mat-select
              [(ngModel)]="params.country"
              placeholder="Country"
              name="country"
              (selectionChange)="countrySelectionChanged()"
              required
            >
              <mat-option
                *ngFor="let country of countries"
                [value]="country.value"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50" style="margin-right:100px;">
            <mat-select
              [(ngModel)]="params.topic"
              placeholder="Select Topic"
              name="topic"
              (selectionChange)="refresh()"
            >
              <mat-option>--</mat-option>
              <mat-option
                *ngFor="let topic of allTopics"
                [value]="topic"
              >
                {{ topic }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <button
            fxFlex="230px"
            class="add-article-to-newsfeed"
            mat-button
            color="link"
            (click)="showAddArticleToNewsfeed()"
            >
            Add article to newsfeed
          </button>

          <a href="javascript:void;" color="accent" (click)="clearAllSearchFilters()" class="clear-filters-button" fxLayoutAlign="end"  fxFlex="35">
            CLEAR ALL SEARCH FILTERS
          </a>
          
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <div fxLayout="row inline" fxLayoutGap="20px" fxFlexFill class="layout-view-selector-container">
      <span fxFlex="150px" class="layout-view-label">
        LAYOUT VIEW:
      </span>
    
      <mat-radio-group fxFlex="345px" [(ngModel)]="selectedLayoutView" (ngModelChange)="layoutViewChanged()">
        <mat-radio-button *ngFor="let view of layoutViews" [value]="view" class="layout-view-radio" >
          {{view}}
        </mat-radio-button>
      </mat-radio-group>
      <span class="selected-layout-view" fxFlex="80px">
        {{selectedLayoutView}}
      </span>
      <mat-form-field fxFlex="0 1 calc(100% - 600px)" class="select-view-container" fxFlexFill>
  
          <input
              matInput
              [(ngModel)]="selectedItem"
              [formControl]="acCtrl"
              [matAutocomplete]="siteAuto"
              #siteInput
            />
            <mat-autocomplete
            #siteAuto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="refresh()"
          >
            <mat-option
              *ngFor="let bbb of filtered | async"
              [value]="bbb"
              [hidden]="isNotFound"
            >
              <span
                [innerHTML]="bbb.text | highlight: highlightedInputValue"
              ></span>
            </mat-option>
            <mat-option
              *ngIf="isNotFound && inputValue.length > 0"
              class="no-data"
            >
              {{ notFoundMessage }}
            </mat-option>
          </mat-autocomplete>
        <!-- <mat-select class="clear-filters-button"  [(ngModel)]="selectedViewItem">
          <mat-option *ngFor="let item of viewItems" [value]="item">
            {{item}}
          </mat-option>
        </mat-select> -->
      </mat-form-field>
      
    </div>

    <div class="switch-cnt" fxLayout="row" *ngIf="selectedLayoutView == cityLayoutView">
      <button
        class="switch-newsfeed"
        mat-button
        color="link"
        (click)="switchToServiceAreaNewsfeed()"
        fxLayoutAlign="end"
        fxFlex="275px"
        *ngIf="showSwitchToServiceArea()"
        >
        Switch To Service Area Newsfeed
      </button>
      <button
        class="switch-newsfeed"
        mat-button
        color="link"
        (click)="clearNewsfeedOverride()"
        fxLayoutAlign="end"
        fxFlex="275px"
        *ngIf="!showSwitchToServiceArea()"
        >
        Switch From Service Area Newsfeed
      </button>
    </div>

    <div class="switch-cnt" fxLayout="row" *ngIf="showSwitchToCountryNewsfeed()">
      <button
        class="switch-newsfeed"
        mat-button
        color="link"
        (click)="switchToCountryNewsfeed()"
        fxLayoutAlign="end"
        fxFlex="275px"
        *ngIf="showSwitchToServiceArea()"
        >
        Switch To Country Newsfeed
      </button>
      <button
        class="switch-newsfeed"
        mat-button
        color="link"
        (click)="clearNewsfeedOverride()"
        fxLayoutAlign="end"
        fxFlex="275px"
        *ngIf="!showSwitchToServiceArea()"
        >
        Switch From Country Newsfeed
      </button>
    </div>