﻿  <mat-card class="card-login">
    <mat-toolbar>
      <span>CoreCMS</span>
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <section class="login-form-container">
          <mat-label>Password change is required. Please enter a new password.</mat-label>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="email"
              placeholder="email"
              readonly
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="password"
              formControlName="newPassword"
              placeholder="Password"
            />
            <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')"
            >Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              formControlName="verifyPassword"
              placeholder="Verify Password"
            />
            <mat-error *ngIf="passwordForm.get('verifyPassword').hasError('required')"
            >Verification Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </section>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!passwordForm.valid">
          Save
        </button>
        <h4 class="error-message">{{ authMessage }}</h4>
      </form>
    </mat-card-content>

  </mat-card>
