.card-login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;
  @media (max-width: 800px) {
    width: 80%;
  }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
  > * {
    width: 100%;
  }
}

.error-message {
  color: red;
}