<mat-card>
  <mat-card-content>
    <button mat-button color="primary" (click)="addGroup()" [disabled]="!canEdit">Add Location</button>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let group of groups">
  <mat-card-title>
    <span>{{ group.List.title }}</span>
    <button
      mat-button
      color="primary"
      (click)="editGroup(group.List)"
      class="edit-icon-btn"
      title="Change display name"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-button
      (click)="deleteGroup(group.List)"
      color="primary"
      class="edit-icon-btn person-group-remove-btn"
      title="Remove this group"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <section fxLayout="row" fxLayoutGap="10px">
      <button mat-button color="primary" (click)="addBusinessLink(group)" [disabled]="!canEdit">Add</button>
      <button
        mat-button
        color="primary"
        (click)="editBusinessLink(group)"
        [disabled]="!canEdit || group.Grid.selected.selected.length === 0"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        (click)="deleteBusinessLink(group)"
        [disabled]="!canEdit || group.Grid.selected.selected.length === 0"
      >
        Delete
      </button>
    </section>
    <table
      mat-table
      matSort
      [dataSource]="group.Grid.dataSource"
      [hidden]="group.List.businessLinks.length === 0"
      class="full-width selectable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? group.Grid.selected.toggle(row) : null"
            [checked]="group.Grid.selected.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="linkText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Name</th>
        <td mat-cell *matCellDef="let element">{{ element.linkText }}</td>
      </ng-container>
      <ng-container matColumnDef="linkUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.linkUrl }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedLinkListColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedLinkListColumns"
        (click)="group.Grid.selected.toggle(row)"
        [ngClass]="group.Grid.selected.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
