<mat-tab-group animationDuration="0ms">
  <mat-tab label="English">
    <mat-card *ngFor="let metadata of metadataEn">
      <mat-card-title>{{ getLabel(metadata.type) }}</mat-card-title>
      <mat-card-content>
        <mat-form-field class="edit-field">
          <mat-label>Page Title</mat-label>
          <input matInput [(ngModel)]="metadata.pageTitle" maxlength="150" #pageTitleEnInput required />
          <mat-hint align="end">{{ pageTitleEnInput.value?.length || 0 }}/150</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field">
          <mat-label>Meta Description</mat-label>
          <textarea
            matInput
            [(ngModel)]="metadata.metaDesc"
            maxlength="300"
            rows="2"
            #metaDescEnInput
            required
          ></textarea>
          <mat-hint align="end">{{ metaDescEnInput.value?.length || 0 }}/300</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="togglePlaceholderInfo(metadata.type)">
          <mat-icon>
            {{ getShowInfoPanel(metadata.type) ? 'expand_less' : 'expand_more' }}
          </mat-icon>
          {{
            getShowInfoPanel(metadata.type)
              ? 'Hide placeholder variable details'
              : 'Show placeholder variable details'
          }}
        </button>
      </mat-card-actions>
      <section *ngIf="getShowInfoPanel(metadata.type)">
        <mat-divider></mat-divider>
        <mat-list>
          <h3 mat-subheader>Supported placeholder variables</h3>
          <mat-list-item *ngFor="let placeholder of getSupportedVariables(metadata)">
            <h4 mat-line>{{ placeholder.variable }}</h4>
            <p mat-line>{{ placeholder.description }}</p>
          </mat-list-item>
        </mat-list>
      </section>
    </mat-card>
  </mat-tab>
  <mat-tab label="Spanish">
    <mat-card *ngFor="let metadata of metadataEs">
      <mat-card-title>{{ getLabel(metadata.type) }}</mat-card-title>
      <mat-card-content>
        <mat-form-field class="edit-field">
          <mat-label>Page Title</mat-label>
          <input matInput [(ngModel)]="metadata.pageTitle" maxlength="150" #pageTitleEsInput required />
          <mat-hint align="end">{{ pageTitleEsInput.value?.length || 0 }}/150</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field">
          <mat-label>Meta Description</mat-label>
          <textarea
            matInput
            [(ngModel)]="metadata.metaDesc"
            maxlength="300"
            rows="2"
            #metaDescEsInput
            required
          ></textarea>
          <mat-hint align="end">{{ metaDescEsInput.value?.length || 0 }}/300</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="togglePlaceholderInfo(metadata.type)">
          <mat-icon>
            {{ getShowInfoPanel(metadata.type) ? 'expand_less' : 'expand_more' }}
          </mat-icon>
          {{
            getShowInfoPanel(metadata.type)
              ? 'Hide placeholder variable details'
              : 'Show placeholder variable details'
          }}
        </button>
      </mat-card-actions>
      <section *ngIf="getShowInfoPanel(metadata.type)">
        <mat-divider></mat-divider>
        <mat-list>
          <h3 mat-subheader>Supported placeholder variables</h3>
          <mat-list-item *ngFor="let placeholder of getSupportedVariables(metadata)">
            <h4 mat-line>{{ placeholder.variable }}</h4>
            <p mat-line>{{ placeholder.description }}</p>
          </mat-list-item>
        </mat-list>
      </section>
    </mat-card>
  </mat-tab>
</mat-tab-group>
