<h2 mat-dialog-title class="title-with-toolbar">
    <mat-toolbar color="primary">
      <span>Add/Edit Shortlink</span>
      <span fxFlex="1 1 auto"></span>
      <button mat-button mat-dialog-close class="incognito-button" disableRipple>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </h2>
  <form (ngSubmit)="update()" #form="ngForm">
    <mat-dialog-content>
      <mat-form-field class="edit-field">
        <input type="hidden" [(ngModel)]="data.shortlink.id" name="id" />
        <mat-label>Url Segment</mat-label>
        <input matInput [(ngModel)]="data.shortlink.urlSegment" #urlSegment="ngModel" id="urlSegment" name="urlSegment" maxlength="100" required uniqueBaselinePageSegmentUrl />
        
        <mat-error *ngIf="urlSegment.errors?.uniqueBaselinePageSegmentUrl">Url Segment is already exist.</mat-error>

      </mat-form-field>
      <mat-form-field class="edit-field">
        <mat-label>Redirect Url</mat-label>
        <input matInput [(ngModel)]="data.shortlink.redirectUrl" name="redirectUrl" required />
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="accent" type="submit" [disabled]="form.invalid && !urlSegment.pending">Save</button>
    </mat-dialog-actions>
  </form>
  