<mat-card>
    <mat-card-title>Shortlinks</mat-card-title>
    <mat-card-content>
      <section fxLayout="row" fxLayoutGap="10px">
        <button mat-button (click)="add()" color="primary">Add</button>
        <button mat-button color="primary" (click)="edit()" [disabled]="selected.selected.length === 0">
          Edit
        </button>
        <button mat-button color="warn" (click)="delete()" [disabled]="selected.selected.length === 0">
          Remove
        </button>
      </section>
      <table mat-table matSort [dataSource]="dataSource" class="full-width selectable">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selected.toggle(row) : null"
              [checked]="selected.isSelected(row)"
              style="margin-right: 8px;"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="urlSegment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Url Segment</span>
            <filter-column
              [(filters)]="options.filters"
              columnName="urlSegment"
              (filter)="filter.emit()"
            ></filter-column>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.urlSegment }}
          </td>
        </ng-container>
        <ng-container matColumnDef="redirectUrl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Redirect Url</span>
            <filter-column
              [(filters)]="options.filters"
              columnName="redirectUrl"
              (filter)="filter.emit()"
            ></filter-column>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.redirectUrl }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Content Code</span>
            <filter-column [(filters)]="options.filters" columnName="contentCode" (filter)="filter.emit()"></filter-column>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.contentCode }}
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selected.toggle(row)"
          [ngClass]="selected.isSelected(row) ? 'selected' : ''"
        ></tr>
      </table>
  
      <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </mat-card-content>
  </mat-card>
  