﻿<div>
  <div>
    <b>Cities</b>
  </div>
  <div>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <input
          placeholder="Search for a location"
          [formControl]="acCtrl"
          [matAutocomplete]="cityAuto"
          matInput
        />
        <mat-autocomplete
          #cityAuto="matAutocomplete"
          (optionSelected)="selectLocation($event.option.value)"
        >
          <mat-option
            *ngFor="let city of filtered | async"
            [value]="city"
            [hidden]="isNotFound"
          >
            <span
              [innerHTML]="city.id | highlight: highlightedInputValue"
            ></span>
          </mat-option>
          <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
            {{ notFoundMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
