<mat-card>
  <mat-card-title>Local Header Links</mat-card-title>
  <section>
    <button mat-button color="primary" (click)="addHeaderLink()">Add</button>
    <button
      mat-button
      color="primary"
      [disabled]="selectedHeaderLink.selected.length === 0"
      (click)="editHeaderLink()"
    >
      Edit
    </button>
    <button
      mat-button
      color="warn"
      [disabled]="selectedHeaderLink.selected.length === 0"
      (click)="deleteHeaderLink()"
    >
      Delete
    </button>
  </section>
  <table
    mat-table
    matSort
    [dataSource]="headerLinksDataSource"
    [hidden]="bbb.headerLinks.length === 0"
    class="full-width selectable"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selectedHeaderLink.toggle(row) : null"
          [checked]="selectedHeaderLink.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="linkText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link Text</th>
      <td mat-cell *matCellDef="let element">{{ element.linkText }}</td>
    </ng-container>
    <ng-container matColumnDef="linkUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link URL</th>
      <td mat-cell *matCellDef="let element">{{ element.linkUrl }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
    </ng-container>
    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Disabled</th>
      <td mat-cell *matCellDef="let element">{{ element.disabled }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedHeaderLinkColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedHeaderLinkColumns"
      (click)="selectedHeaderLink.toggle(row)"
      [ngClass]="selectedHeaderLink.isSelected(row) ? 'selected' : ''"
    ></tr>
  </table>
</mat-card>
<mat-card>
  <mat-card-title>Local Footer Links</mat-card-title>
  <section>
    <button mat-button color="primary" (click)="addFooterLink()">Add</button>
    <button
      mat-button
      color="primary"
      [disabled]="selectedFooterLink.selected.length === 0"
      (click)="editFooterLink()"
    >
      Edit
    </button>
    <button
      mat-button
      color="warn"
      [disabled]="selectedFooterLink.selected.length === 0"
      (click)="deleteFooterLink()"
    >
      Delete
    </button>
  </section>
  <table
    mat-table
    matSort
    [dataSource]="footerLinksDataSource"
    [hidden]="bbb.footerLinks.length === 0"
    class="full-width selectable"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selectedFooterLink.toggle(row) : null"
          [checked]="selectedFooterLink.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="linkText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link Text</th>
      <td mat-cell *matCellDef="let element">{{ element.linkText }}</td>
    </ng-container>
    <ng-container matColumnDef="linkUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link URL</th>
      <td mat-cell *matCellDef="let element">{{ element.linkUrl }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
    </ng-container>
    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Disabled</th>
      <td mat-cell *matCellDef="let element">{{ element.disabled }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedFooterLinkColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedFooterLinkColumns"
      (click)="selectedFooterLink.toggle(row)"
      [ngClass]="selectedFooterLink.isSelected(row) ? 'selected' : ''"
    ></tr>
  </table>
</mat-card>
<mat-card>
  <mat-card-title>Local Menu Links</mat-card-title>
  <mat-card-content>
    <section>
      <button mat-button color="primary" (click)="addMenuLink()">
        Add Parent Link
      </button>
    </section>
    <menu-links-drag-drop-tree
      [(menuLinks)]="bbb.menuLinks"
      (updateBbb)="update.emit()"
    ></menu-links-drag-drop-tree>
  </mat-card-content>
</mat-card>
