<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Quote</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>First Name</mat-label>
      <input
        matInput
        [(ngModel)]="data.quote.firstName"
        name="firstName"
        maxlength="100"
        required
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        [(ngModel)]="data.quote.lastName"
        name="lastName"
        maxlength="100"
        required
      />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Text</mat-label>
      <textarea
        matInput
        [(ngModel)]="data.quote.text"
        name="text"
        maxlength="500"
        rows="2"
        required
      ></textarea>
    </mat-form-field>
    <div class="edit-field">
      <mat-radio-group
        aria-label="Select a tag type"
        [(ngModel)]="tagFilter"
        name="filterType"
        fxLayout="row"
        fxLayoutGap="15px"
      >
        <mat-radio-button
          *ngFor="let filter of tagFilters"
          [value]="filter.value"
        >
          {{ filter.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field class="edit-field">
      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of data.quote.tagItems"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTag(tag)"
        >
          <span>
            <strong>{{ tag.name }}</strong>
            <em>({{ tag.type }})</em>
          </span>
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tags"
          #tagInput
          [formControl]="acCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event.value)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectedTag($event.option.value)"
      >
        <mat-option
          *ngFor="let tag of filtered | async"
          [value]="tag"
          [hidden]="isNotFound"
        >
          <span>{{ tag.name }} :: {{ tag.type }}</span>
        </mat-option>
        <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
          {{ notFoundMessage }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="edit-field">
      <mat-checkbox [(ngModel)]="data.quote.published" name="published">
        Published?
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
