<mat-card>
  <mat-card-title>Quotes</mat-card-title>
  <mat-card-content>
    <section fxLayout="row" fxLayoutGap="10px">
      <button mat-button (click)="add()" color="primary">Add</button>
      <button mat-button color="primary" (click)="edit()" [disabled]="selected.selected.length === 0">
        Edit
      </button>
      <button mat-button color="warn" (click)="delete()" [disabled]="selected.selected.length === 0">
        Remove
      </button>
    </section>
    <table mat-table matSort [dataSource]="dataSource" class="full-width selectable">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selected.toggle(row) : null"
            [checked]="selected.isSelected(row)"
            style="margin-right: 8px;"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>First Name</span>
          <filter-column
            [(filters)]="options.filters"
            columnName="firstName"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Last Name</span>
          <filter-column
            [(filters)]="options.filters"
            columnName="lastName"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Text</span>
          <filter-column [(filters)]="options.filters" columnName="text" (filter)="filter.emit()"></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.text }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Tags</span>
          <filter-column [(filters)]="options.filters" columnName="tags" (filter)="filter.emit()"></filter-column>
        </th>
        <td mat-cell *matCellDef="let element" style="padding-top: 8px; padding-bottom: 8px;">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.tagItems">
              <span>
                <strong>{{ tag.name }}</strong>
                <em>({{ tag.type }})</em>
              </span>
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>Published</span>
          <filter-column
            [(filters)]="options.filters"
            columnName="published"
            (filter)="filter.emit()"
          ></filter-column>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="alert alert-success" *ngIf="element.published">
            <i class="fa fa-check"></i>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selected.toggle(row)"
        [ngClass]="selected.isSelected(row) ? 'selected' : ''"
      ></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  </mat-card-content>
</mat-card>
