﻿<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <mat-form-field fxFlex="auto">
      <input
        type="text"
        matInput
        [formControl]="acCtrl"
        [matAutocomplete]="auto"
        [matAutocompleteDisabled]="!enabled"
        placeholder="{{ placeholder }}"
      />
      <button
        mat-button
        *ngIf="!!acCtrl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="acCtrl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectLocation($event.option.value)"
    >
      <mat-option
        *ngFor="let bbb of filtered | async"
        [value]="bbb.bbbName"
        [hidden]="isNotFound"
      >
        <span
          [innerHTML]="bbb.bbbName | highlight: highlightedInputValue"
        ></span>
      </mat-option>
      <mat-option *ngIf="isNotFound && inputValue.length > 0" class="no-data">
        {{ notFoundMessage }}
      </mat-option>
    </mat-autocomplete>
  </mat-card-content>
</mat-card>
