<h2 mat-dialog-title class="title-with-toolbar">
  <mat-toolbar color="primary">
    <span>Add/Edit Alias</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button mat-dialog-close class="incognito-button" disableRipple>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h2>
<form (ngSubmit)="update()" #form="ngForm">
  <mat-dialog-content>
    <mat-form-field class="edit-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.alias.name" name="name" />
    </mat-form-field>
    <mat-form-field class="edit-field">
      <mat-label>Spanish Name</mat-label>
      <input matInput [(ngModel)]="data.alias.spanish" name="spanish" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
</form>
