<mat-tab-group animationDuration="0ms">
  <mat-tab label="English">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>Name</mat-label>
          <input
            matInput
            [disabled]="!secTerm.isEditable"
            [(ngModel)]="secTerm.name"
            maxlength="255"
            #nameInput
            required
          />
          <mat-hint align="end">{{ nameInput.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>URL Segment</mat-label>
          <input
            matInput
            [disabled]="!secTerm.isEditable"
            [(ngModel)]="secTerm.urlSegment"
            maxlength="255"
            #urlSegmentInput
            required
          />
          <mat-hint align="end">{{ urlSegmentInput.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>Aliases</mat-label>
          <mat-chip-list #enAliasesChipList>
            <mat-chip
              *ngFor="let alias of aliasesEn"
              (click)="editAlias(alias)"
              [removable]="true"
              (removed)="removeAlias(alias)"
            >
              <mat-icon style="margin-right: 4px;" [ngStyle]="{ color: alias.spanish ? '#000' : '#999' }">
                public
              </mat-icon>
              <strong>{{ alias.name }}</strong>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              matInput
              [matChipInputFor]="enAliasesChipList"
              [formControl]="aliasEnCtrl"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addAliasEn($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Spanish">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>Name</mat-label>
          <input
            matInput
            [disabled]="!secTerm.isEditable"
            [(ngModel)]="secTerm.spanishName"
            maxlength="255"
            #spanishNameInput
          />
          <mat-hint align="end">{{ spanishNameInput.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>URL Segment</mat-label>
          <input
            matInput
            [disabled]="!secTerm.isEditable"
            [(ngModel)]="secTerm.spanishUrlSegment"
            maxlength="255"
            #spanishUrlSegmentInput
          />
          <mat-hint align="end">{{ spanishUrlSegmentInput.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <mat-form-field class="edit-field" floatLabel="always">
          <mat-label>Aliases</mat-label>
          <mat-chip-list #esAliasesChipList>
            <mat-chip
              *ngFor="let alias of aliasesEs"
              (click)="editAlias(alias)"
              [removable]="true"
              (removed)="removeAlias(alias)"
            >
              <mat-icon style="margin-right: 4px;" [ngStyle]="{ color: alias.name ? '#000' : '#999' }">
                public
              </mat-icon>
              <strong>{{ alias.spanish }}</strong>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              matInput
              [matChipInputFor]="esAliasesChipList"
              [formControl]="aliasEsCtrl"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addAliasEs($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
